<br>
<div class="panel panel-default">
  <div class="panel-heading">
    {{'FORMALIZAR_SOLICITUD' | translate}}
  </div>

  <div class="panel-body">

    <loading tam="4" load="cargandoSolicitudes" message="mensajeCargandoSolicitudes"></loading>
    <div class="panel panel-default panel-body col-md-12" style="margin-top: 20px;" ng-if="formalizarSolicitud.cuadriculaSolicitudesParaFormalizar.data.length > 0">
      <div class="mi-grid" id="mi-grid" ui-grid="formalizarSolicitud.cuadriculaSolicitudesParaFormalizar"></div>
    </div>
    
    <div class="panel-body alert alert-danger" ng-if="errorCargandoSolicitudes">
      <span ng-bind="mensajeErrorCargandoSolicitudes"></span>
    </div>

  </div>

</div>
