<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Listado de solicitudes
    </div>
    <div class="panel-body">
      <!--<pre>{{listarsolicitudes.sols | json}}</pre>-->
      <label for="anio" class="col-sm-2 control-label">Año:</label>
      <label for="anioSel" class="col-sm-10 control-label">{{listarSolicitudes.periodo.APE_ANO}}</label>

      <label for="periodo" class="col-sm-2 control-label">Periodo:</label>
      <label for="anioSel" class="col-sm-10 control-label">{{listarSolicitudes.periodo.APE_PER}}</label>

      <label for="carrera" class="col-sm-2 control-label">Carrera:</label>
      <div class="col-sm-10">
        <form name="myForm">
          <select ng-model="carreraSeleccionada" name="carrera"  class="form-control" required
          ng-change="listarSolicitudes.buscarSolicitudes(carreraSeleccionada)">
          <option ng-repeat="p in listarSolicitudes.carreras" ng-value="p.CODIGO">{{p.NOMBRE}} </option>
          </select>
          <span ng-show="myForm.carrera.$invalid" style="color: red">*Seleccione la carrera</span>
        </form>
       </div>

       <br></br>
       <br></br>
       <br></br>
       <div ui-grid="listarSolicitudes.gridOptions"></div>

       <div  layout="column" layout-align="center" >
        <p>Admitidos por rendimiento: {{listarSolicitudes.rendimiento}}</p>
        <p>Admitidos por economía: {{listarSolicitudes.economicas}}</p>

      </div>

      <button ng-disabled="carreraSeleccionada == null || listarSolicitudes.gridOptions.data.length==0" ng-click="listarSolicitudes.openDialog($event)" class="btn btn-primary">Seleccionar Admitidos</button>
      <button ng-disabled="carreraSeleccionada == null || listarSolicitudes.gridOptions.data.length==0" ng-click="listarSolicitudes.solicitudes2()" class="btn btn-success">Seleccionar Admitidos 2</button>
      <button ng-disabled="carreraSeleccionada == null || listarSolicitudes.gridOptions.data.length==0" ng-click="listarSolicitudes.solicitudes3()" class="btn btn-info">Seleccionar Admitidos 3</button>

      <script type="text/ng-template" id="dialog.tmpl.html">

      <md-dialog flex="60" aria-label="Selección de Admitidos" >
        <form role="form" name="formAdmitidos" id="formAdmitidos">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 flex="95">Selección de Admitidos</h2>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="images/icon_close.png" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content >
          <div class="md-dialog-content" >
              <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Admitidos por excelencia académica y exentos de pago (Máx {{cupos_excelencia}})</label>

                <input ng-model="cupos_excelencia_ingresado" ng-disabled="cupos_excelencia_ingresado!=null" name="rendimiento" placeholder="Ingrese el número de admitidos por excelencia académica y exentos de pago" type="number" min="0" max="{{cupos_excelemcia}}" step="1" required="">
                <div ng-messages="formAdmitidos.rendimiento.$error" ng-show="formAdmitidos.rendimiento.$dirty">
                  <div ng-message="required">Es requerido</div>
                </div>
              </md-input-container>

              <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Admitidos admitidos por condiciones económicas y calidades académicas (Máx {{cupos_adicionales}})</label>
                <input ng-model="cupos_adicionales_ingresado" ng-disabled="cupos_adicionales_ingresado!=null" size="30" placeholder="Ingrese el número de admitidos por condiciones económicas y calidades académicas" type="number" min="0" max="{{cupos_adicionales}}" step="1" required>
                <div ng-messages="formAdmitidos.economicas.$error">
                  <div ng-message="required">Es requerido</div>
                </div>
              </md-input-container>
              <md-button ng-disabled="cupos_excelencia_ingresado == null || cupos_adicionales_ingresado == null" ng-click="answer(dialog)" class="md-raised md-primary">Aceptar</md-button-->

          </div>
        </md-dialog-content>
    </form>
    </md-dialog>
    </script>

    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
