<div class="panel panel-default">

  <div class="panel-heading">
    {{'LISTAR_APROBADOS.TITULO' | translate}}
  </div>

  <div class="panel-body">

    <loading tam="4" load="listarAprobados.cargandoPosgradosAsociados" message="listarAprobados.mensajeCargandoPosgradosAsociados"></loading>
    <div class="row" ng-if="listarAprobados.posgradosAsociados.length > 0 && !listarAprobados.cargandoPosgradosAsociados">
      <label class="col-sm-2">{{'SELECCIONAR_CARRERA' | translate}}</label> 
      <div class="col-sm-10">
        <ui-select name="posgrado" ng-model="listarAprobados.posgradoSeleccionado" required on-select="listarAprobados.escogerPosgrado()" style="width:97%;" theme="bootstrap">
          <ui-select-match placeholder="{{'SELECT.SELECCIONE' | translate}}">
            {{$select.selected.codigo_proyecto_curricular}} - {{$select.selected.nombre_proyecto_curricular}}
          </ui-select-match>
          <ui-select-choices repeat="item.codigo_proyecto_curricular as item in listarAprobados.posgradosAsociados | filter: $select.search">
            <span ng-bind="item.codigo_proyecto_curricular"></span> - <span ng-bind="item.nombre_proyecto_curricular"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <br ng-if="listarAprobados.periodoCorrespondienteHabilitado">

    <div class="row" ng-if="listarAprobados.periodoCorrespondienteHabilitado">
      <label class="col-sm-2">{{'SELECCIONAR_PERIODO' | translate}}</label>
      <div class="col-sm-10">
        <select ng-model="listarAprobados.periodoSeleccionado" ng-change="listarAprobados.actualizarSolicitudesAprobadas()">
          <option ng-repeat="periodo in listarAprobados.periodosCorrespondientes" ng-value="periodo">
            {{periodo.anio}}-{{periodo.periodo}}
          </option>
        </select>
      </div>
    </div>

    <div class="panel-body alert alert-danger" ng-if="listarAprobados.errorCargandoConsultasIniciales">
      <span ng-bind="listarAprobados.mensajeErrorCargandoConsultasIniciales"></span>
    </div>
    
    <loading tam="4" load="listarAprobados.cargandoSolicitudesAprobadas" message="listarAprobados.mensajeCargandoSolicitudesAprobadas"></loading>
    <div class="panel panel-default panel-body col-md-12" style="margin-top: 20px;" ng-if="listarAprobados.cuadriculaSolicitudesAprobadas.data.length > 0 && !listarAprobados.cargandoSolicitudesAprobadas">
      <div class="mi-grid" id="mi-grid" ui-grid="listarAprobados.cuadriculaSolicitudesAprobadas"></div>
    </div>

    <br ng-if="listarAprobados.errorCargandoSolicitudesAprobadas">
    
    <div class="panel-body alert alert-danger" ng-if="listarAprobados.errorCargandoSolicitudesAprobadas">
      <span ng-bind="listarAprobados.mensajeErrorCargandoSolicitudesAprobadas"></span>
    </div>

  </div>

  <div id="modalVerSolicitud" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
      <div class="modal-header">
        {{'LISTAR_APROBADOS.DESCRIPCION' | translate}}
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button>
        <br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          {{'INFORMACION_ESTUDIANTE' | translate}}
        </div>
        <div class="panel-body">
          <div class="row">
            <label class="col-sm-4 control-label"> {{'SOLICITANTE' | translate}}:  </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.nombreEstudiante}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'CODIGO' | translate}}:  </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.codigoEstudiante}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'PROMEDIO' | translate}}:  </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.promedioAcademico}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'RENDIMIENTO' | translate}}:  </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.informacionAcademica.rendimiento}} </label>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          {{'INFORMACION_SOLICITUD' | translate}}
        </div>
        <div class="panel-body">
          <div class="row">
            <label class="col-sm-4 control-label"> {{'SOLICITUD' | translate}}: </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.SolicitudTrabajoGrado.Id}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'FECHA' | translate}}: </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.fechaSolicitud}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'ESTADO_SOLICITUD' | translate}}: </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.nombreEstado}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'CODIGO_POSGRADO' | translate}}: </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.codigoPosgrado}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'POSGRADO' | translate}}: </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.nombrePosgrado}} </label>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label"> {{'CODIGO_PENSUM_POSGRADO' | translate}}: </label>
            <label class="col-sm-8 control-label"> {{listarAprobados.solicitudSeleccionada.pensumPosgrado}} </label>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-if="listarAprobados.cuadriculaEspaciosAcademicosSolicitados.data.length > 0">
        <div class="panel-heading">
          {{'ESP_ACADEMICOS' | translate}}
        </div>
        <loading tam="4" load="listarAprobados.cargandoTransaccionRegistro" message="listarAprobados.mensajeCargandoTransaccionRegistro"></loading>
        <div class="panel-body" ng-if="!listarAprobados.cargandoTransaccionRegistro">
          <div class="panel col-md-12">
            <div class="mi-grid" id="mi-grid" ui-grid="listarAprobados.cuadriculaEspaciosAcademicosSolicitados" style="height: {{(listarAprobados.cuadriculaEspaciosAcademicosSolicitados.data.length * 35) + 40}}px"></div>
          </div>
          <div class="row row-centered">
            <div class="col-sm-2 col-centered">
              <input type="submit" class="btn btn-success" value="{{'BTN.REGISTRAR_TRABAJO_GRADO'|translate}}" ng-click="listarAprobados.confirmarRegistroSolicitud()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>