<div class="panel panel-default">

  <div class="panel-heading">
    {{'REGISTRAR_NOTA.TITULO' | translate}}
  </div>

  <div class="panel-body">

    <loading tam="4" load="registrarNota.cargandoPosgradosAsociados" message="registrarNota.mensajeCargandoPosgradosAsociados"></loading>
    <div class="row" ng-if="registrarNota.posgradosAsociados.length > 0 && !registrarNota.cargandoPosgradosAsociados">
      <label class="col-sm-2">{{'SELECCIONAR_CARRERA' | translate}}</label> 
      <div class="col-sm-10">
        <ui-select name="posgrado" ng-model="registrarNota.posgradoSeleccionado" required on-select="registrarNota.escogerPosgrado()" style="width:97%;" theme="bootstrap">
          <ui-select-match placeholder="{{'SELECT.SELECCIONE' | translate}}">
            {{$select.selected.codigo_proyecto_curricular}} - {{$select.selected.nombre_proyecto_curricular}}
          </ui-select-match>
          <ui-select-choices repeat="item.codigo_proyecto_curricular as item in registrarNota.posgradosAsociados | filter: $select.search">
            <span ng-bind="item.codigo_proyecto_curricular"></span> - <span ng-bind="item.nombre_proyecto_curricular"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <br ng-if="registrarNota.periodoCorrespondienteHabilitado">

    <div class="row" ng-if="registrarNota.periodoCorrespondienteHabilitado">
      <label class="col-sm-2">{{'SELECCIONAR_PERIODO' | translate}}</label>
      <div class="col-sm-10">
        <select ng-model="registrarNota.periodoSeleccionado" ng-change="registrarNota.actualizarTrabajosDeGradoCursados()">
          <option ng-repeat="periodo in registrarNota.periodosCorrespondientes" ng-value="periodo">
            {{periodo.anio}}-{{periodo.periodo}}
          </option>
        </select>
      </div>
    </div>

    <div class="panel-body alert alert-danger" ng-if="registrarNota.errorCargandoConsultasIniciales">
      <span ng-bind="registrarNota.mensajeErrorCargandoConsultasIniciales"></span>
    </div>
    
    <loading tam="4" load="registrarNota.cargandoTrabajosDeGradoCursados" message="registrarNota.mensajeCargandoTrabajosDeGrado"></loading>
    <div class="panel panel-default panel-body col-md-12" style="margin-top: 20px;" ng-if="registrarNota.cuadriculaTrabajosDeGradoModalidadPosgrado.data.length > 0 && !registrarNota.cargandoTrabajosDeGradoCursados">
      <div class="mi-grid" id="mi-grid" ui-grid="registrarNota.cuadriculaTrabajosDeGradoModalidadPosgrado"></div>
    </div>

    <br ng-if="registrarNota.errorCargandoTrabajosDeGradoCursados">
    
    <div class="panel-body alert alert-danger" ng-if="registrarNota.errorCargandoTrabajosDeGradoCursados">
      <span ng-bind="registrarNota.mensajeErrorCargandoTrabajosDeGradoCursados"></span>
    </div>

  </div>

  <div id="modalVerTrabajoDeGrado" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
      <div class="modal-header">
        {{'REGISTRAR_NOTA.DESCRIPCION' | translate}}
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button>
        <br>
      </div>
      <loading tam="4" load="registrarNota.cargandoEspaciosAcademicos" message="mensajeCargandoTransaccionRegistro"></loading>
      <div class="panel panel-default" ng-if="registrarNota.cuadriculaEspaciosAcademicosInscritos.data.length > 0 && !registrarNota.cargandoEspaciosAcademicos">
        <div class="panel-heading">
          {{'ESP_ACADEMICOS' | translate}}
        </div>
        <div class="panel-body">
          <div class="panel col-md-12">
            <div class="mi-grid" id="mi-grid" ui-grid-edit ui-grid-cellNav ui-grid="registrarNota.cuadriculaEspaciosAcademicosInscritos" style="height: {{(registrarNota.cuadriculaEspaciosAcademicosInscritos.data.length * 35) + 40}}px"></div>
          </div>
          <div class="panel col-md-12">
            <label class="col-sm-12">{{'REGISTRAR_NOTA.INSTRUCCIONES' | translate}}</label>
          </div>
          <div class="row row-centered">
            <div class="col-sm-2 col-centered">
              <input type="submit" class="btn btn-success" value="{{'BTN.REGISTRAR_NOTA'|translate}}" ng-click="registrarNota.confirmarRegistroNotas()">
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body alert alert-danger" ng-if="registrarNota.errorCargandoEspaciosAcademicos">
        <span ng-bind="registrarNota.mensajeErrorCargandoEspaciosAcademicos"></span>
      </div>
    </div>
  </div>

</div>