/*input[type="number"] {
   width:100%;
}*/

#loading-bar .bar {
    background-color: #54ACD2;
    position: relative;
}

#mi-grid {
  text-align: center;
}

md-checkbox.md-checked.blue .md-icon {
    background-color: rgba(0, 62, 101, 1);
}

.left-cinco {
    padding-left: 5%;
}

.centro-cinco {
    padding: 5%;
}

.scrollit {
    max-height: 700px;
    overflow-y: scroll;
}

#bar1::-webkit-scrollbar {
    width: 6px;
    /* for vertical scrollbars */
    height: 6px;
    /* for horizontal scrollbars */
    border-radius: 6px;
}

#bar1::-webkit-scrollbar-thumb {
    background: rgba(0, 62, 101, 1);
}

.pdf-controls {
    width: 100%;
    display: block;
    padding: 1em;
}

.panel panel-default {
    padding: 3%
}

.center-contents{
   margin: auto;
   max-width: 300px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/*Para panel de paginacion del ui-grid*/

.ui-grid-pager-panel {
    position: relative !important;
    left: 0 !important;
    bottom: 0px !important;
    top: 9px;
    padding-top: 0px !important;
    padding-bottom: 38px;
}

.ui-grid-pager-container {
    float: none !important;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: middle;
}