/*input[type="number"] {
   width:100%;
}*/
/*
#loading-bar .bar {
    background-color: #54ACD2;
    position: relative;
}
*/
/* Inicio spinner personalizado */

.my-spinner {
  width: 70px;
  height: 70px;
  border: 6px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fin spinner personalizado */

#mi-grid {
  text-align: center;
}

md-checkbox.md-checked.blue .md-icon {
    background-color: rgba(0, 62, 101, 1);
}

.left-cinco {
    padding-left: 5%;
}

.centro-cinco {
    padding: 5%;
}

.scrollit {
    max-height: 700px;
    overflow-y: scroll;
}

#bar1::-webkit-scrollbar {
    width: 6px;
    /* for vertical scrollbars */
    height: 6px;
    /* for horizontal scrollbars */
    border-radius: 6px;
}

#bar1::-webkit-scrollbar-thumb {
    background: rgba(0, 62, 101, 1);
}

.pdf-controls {
    width: 100%;
    display: block;
    padding: 1em;
}

.panel panel-default {
    padding: 3%
}

.center-contents{
   margin: auto;
   max-width: 300px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/*Para panel de paginacion del ui-grid*/

.ui-grid-pager-panel {
    position: relative !important;
    left: 0 !important;
    bottom: 0px !important;
    top: 9px;
    padding-top: 0px !important;
    padding-bottom: 38px;
}

.ui-grid-pager-container {
    float: none !important;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: middle;
}

footer.driver-popover-footer{
    background-color: #ffffff00 !important;
    min-height: auto !important;
}

/* Inicio icono iris */

.icono-fijo {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 9999;
  text-decoration: none;
  cursor: pointer;
}

.icono-fijo img {
  width: 40px;
  height: 40px;
}

.icono-fijo .tooltip-text {
  visibility: hidden;
  max-width: 220px;
  background-color: #333;
  color: #fff;
  font-size: 13px;
  line-height: 1.3;
  text-align: left;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 75px;
  left: 0;
  z-index: 10000;

  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
}

.icono-fijo .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.icono-fijo:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Fin icono iris */
