<div class="panel panel-default">
  <div class="panel-heading">
      {{'DOCUMENTO.REGISTRAR_NUEVA_ACTA' | translate}}
  </div>
  <loading tam="4" load="loadDocumento" message="msgCargandoDocumento"> </loading>
  <div class="panel-body" ng-if="!loadDocumento">
      <form method="post" name="formularioCargar" ng-submit="d_cargarDocumento.cargarDocumento()">
        <div class="row" ng-if="carreras.length > 0">
          <label class="col-sm-12">{{'INSTRUCCIONES_ACTA' | translate}}</label>
          <br>
          <br>
          <label class="col-sm-4 control-label">{{'INDICAR_CARRERA' | translate}}</label>
          <div class="col-sm-8">
            <select class="form-control"  ng-model="d_cargarDocumento.carrera" required>
              <option ng-repeat="carrera in carreras" ng-value="carrera">
                {{ (userRole.indexOf('CONTRATISTA') !== -1 ? carrera.proyecto : '') }}
                {{ (userRole.indexOf('COORDINADOR') !== -1 ? carrera.codigo_proyecto_curricular : '') }} - 
                {{ (userRole.indexOf('CONTRATISTA') !== -1 ? carrera.nombre : '') }}
                {{ (userRole.indexOf('COORDINADOR') !== -1 ? carrera.nombre_proyecto_curricular : '') }}
              </option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
                <label class="col-sm-4 control-label"> {{'DOCUMENTO.INGRESE_CONSECUTIVO' | translate}} </label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" ng-model="d_cargarDocumento.consecutivo"  min="0"  required></input>
                </div>
        </div>
        <br>
        <div class="row">
                <label class="col-sm-4 control-label"> {{'INDIQUE_FECHA_REUNION' | translate}}</label>
                <div class="col-sm-8">
                  <!--
                  Se inhabilita la carga del documento que solía hacerse para las actas, en concordancia con la atención al requerimiento sobre cargar las actas y pedir la fecha de reunión en la que se discutió dicha respuesta

                  -->
                  <input type="date" class="form-control" min="2017-01-01" ng-model="d_cargarDocumento.fechaReunion" required></input>
               
                  <!-- <input type="file" class="col-sm-8" angular-bfi="{'showUpload':false, allowedFileExtensions:['pdf'], language:'es', maxFileSize: 5000}" file-model="d_cargarDocumento.documento.fileModel" required> </input>  -->
                  <input type="file" class="col-sm-8" fileinput="{'showUpload':false, 'allowedFileExtensions':['pdf'], 'language':'es'}" file-model="d_cargarDocumento.documento.fileModel" onchange="angular.element(this).scope().verificarArchivo(this)" required> </input>
                 
                </div>
        </div>
        <br>
        <div class="row row-centered" ng-if="formularioCargar.$valid">
          <div class="col-sm-4 col-centered">
            <input type="submit" value="{{'DOCUMENTO.REGISTRAR_NUEVA_ACTA' | translate}}"  class="btn btn-success"/>
          </div>
        </div>
    </form>
  </div>
</div>
