<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <div class="form-group">
                <label>Ingrese el Nombre de la evaluación</label>
                <input type="text" class="form-control" ng-model="FormEvaluacionCtrl.evaluacion.nombre" name="nombre_evaluacion" id="nombre_evaluacion" required="" placeholder="* Nombre de la Evaluación" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Ingrese la Introducción de la evaluación</label>
                <textarea type="text" class="form-control" ng-model="FormEvaluacionCtrl.evaluacion.introduccion" name="introducción_evaluacion" id="introducción_evaluacion" required="" placeholder="* Introducción de la evaluación"autocomplete="off"></textarea>
            </div>
            <div class="panel panel-info">

                <div class="panel-heading">Nueva Pregunta Abierta</div>
                <div class="panel-body">

                    <div class="form-group">
                        <label>Ingrese el enunciado de la pregunta</label>
                        <textarea type="text" class="form-control" ng-model="FormEvaluacionCtrl.enunciado" name="enunciado_abierta" id="enunciado_abierta" required="" placeholder="* Enunciado" autocomplete="off"></textarea>
                    </div>
                    <div align="right">
                        <button type="button" class="btn btn-info btn-xs" ng-click="FormEvaluacionCtrl.nueva_pregunta('A')">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir Pregunta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/col-lg-6 -->
