
<br>
<h2>Areas del profesor</h2>
<label for="docente" class="col-md-2 control-label">Docente:</label>
<div class="col-md-10">
  <form  name="myForm">
    <select ng-model="areanueva.docenteSeleccionado" name="docente" class="form-control" required
    ng-change="mostrar.mostrarAreasDocente(areanueva.docenteSeleccionado)">
    <option ng-repeat="p in areanueva.docentes" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}}</option>
  </select>
</form>
</div>

<md-chips  class="col-md-6 col-sm-4" ng-repeat="a in mostrar.fabrica.areasDocente" >
  <md-chip >{{a.IdAreaConocimiento.Nombre}}</md-chip>
</md-chips>

<table ng-table="mostrar.tableParams" class="table table-condensed table-bordered table-striped" >
    <tr ng-repeat="ar in mostrar.fabrica.areasDocente">
        <td data-title="'CódigoArea'" sortable="''">
            {{ar.Id}}</td>
        <td data-title="'Area'" sortable="''">
            {{ar.IdAreaConocimiento.Nombre}}</td>
    </tr>

</table>
