
<br>
<h2>Areas del profesor </h2>
<label for="docente" class="col-md-2 control-label">Docente:</label>
<div class="col-md-10">
  <form  name="myForm">
    <select ng-model="areanueva.docenteSeleccionado" name="docente" class="form-control" required
    ng-change="mostrar.mostrarAreasDocente(areanueva.docenteSeleccionado)">
    <option ng-repeat="p in areanueva.docentes" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}}</option>
  </select>
</form>
</div>

<md-chips  class="custom-chips" ng-model="mostrar.fabrica.areasDocente " readonly="true"
 md-removable="mostrar.removable" >
  <md-chip-template ng-click="mostrar.removable=!mostrar.removable">
          <span>
            {{$chip.IdAreaConocimiento.Nombre}}
          </span>
        </md-chip-template>
<input md-chip-remove  type="submit"  ng-click="mostrar.eliminarAreaDocente($chip.Id)"
          value="X" class="btn btn-danger btn-xs"/>
</md-chips>

<div class="row col-md-12">
  <br>
  <br>
<div  class=" col-md-6 col-sm-4" ng-repeat="a in mostrar.fabrica.areasDocente | orderBy:'IdAreaConocimiento.Nombre'" >

  <span style="background-color:lightgray" class="btn btn-default" ng-click="mostrar.removable=!mostrar.removable">
    <input ng-show="mostrar.removable" type="submit"  ng-click="mostrar.eliminarAreaDocente(a.IdAreaConocimiento.Nombre)"
                  value="X" class="btn btn-danger btn-xs" />
    {{a.IdAreaConocimiento.Nombre}}
  </span>
</div>
</div>
