<div style="margin-bottom: 20px">
  <label>Buscar: <input ng-model="searchText"></label><br>

   <label class="checkbox-inline">
   <input class="checkbox checkbox-inline" type="checkbox" ng-model="demo.isFiltersVisible" /> Buscar por columnas
 </label><br>
 <label class="checkbox-inline" ng-repeat="col in biblioteca.cols">
   <input type="checkbox" class="checkbox checkbox-inline" ng-model-options="{ getterSetter: true }" ng-model="col.show"/> {{col.title()}}
 </label>
</div>
<div>
 <table ng-table="ldocumentostg.tableParams" class="table table-striped table-bordered" ng-table-columns-binding="ldocumentostg.cols"
 show-filter="demo.isFiltersVisible">
   <tr ng-repeat="row in $data | filter:searchText">
     <td data-title="'id'" title="'id'" ng-if="true" filter="{id_documento: 'number'}" sortable="'id_documento'">{{row.id_documento}}</td>
     <td data-title="'titulo'" title="'titulo'" ng-if="true" filter="{titulo: 'text'}" sortable="'titulo'">{{row.titulo}}</td>
     <td data-title="'descripcion'" title="'descripcion'" ng-if="true" filter="{descripcion: 'text'}" sortable="'descripcion'">{{row.descripcion}}</td>
     <td data-title="'url'" title="'url'" ng-if="true" >
         <input type="submit" class="btn-success" value="Ver" ng-click="ldocumentostg.url=row.url">
     </td>
   </tr>
 </table>
</div>
