<div class="col-lg-12">

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">{{vdocumento.documento.Titulo}}</h3>
    </div>
    <div class="panel-body">
      <div>
        <ng-pdf template-url="/views/directives/viewer.html" scale="page-fit"></ng-pdf>
        <!--<iframe id="el_iframe" class="embed-responsive-item" src="{{documento.enlace}}"></iframe>-->
      </div>
    </div>
    <div class="panel-heading">
      <p>
        <span>Tipo:{{vdocumento.documento.IdTipoDocumento.Nombre}}</span>
      <span class="pull-right">Categoria:{{vdocumento.documento.IdTipoDocumento.IdCategoria.Nombre}}</span>
      </p>
      <p>
      <span class="panel-title">Resumen:</span><br>{{vdocumento.documento.Resumen}}
      </p>
    </div>
  </div>
  <div ng-show="false">{{selectpag=pageNum}}

  {{pdfUrl =vdocumento.documento.Enlace}}</div>
</div>
