<style>

  .scrollit {
    max-height:600px;
    overflow-y:scroll;
   }
   #bar1::-webkit-scrollbar
   {
     width: 6px;  /* for vertical scrollbars */
     height: 6px; /* for horizontal scrollbars */
     border-radius: 6px;
   }
   #bar1::-webkit-scrollbar-thumb
   {
     background: rgba(64, 255, 61, 0.4);
   }
   .pdf-controls { width: 100%; display: block; rgba(64, 255, 61, 0.4); padding: 1em;}

</style>
<nav ng-class="{'pdf-controls fixed': scroll > 100, 'pdf-controls': scroll <= 100}">

  <button ng-click="goPrevious()"><</button>
  <button ng-click="goNext()">></button>
  <button ng-click="zoomIn()"><span class="glyphicon glyphicon-zoom-in"></span></button>
  <button ng-click="fit()">100%</button>
  <button ng-click="zoomOut()">-</button>
  <span>Page: </span><input type="text" min=1 ng-model="pageNum"><span> / {{pageCount}}</span>
</nav>
<div class="scrollit" id="bar1" >

<canvas id="pdf-canvas"></canvas>

</div>
