<div class="col-md-6" >
        <div class="panel panel-primary" >
            <div class="panel-heading" align="center"><h1>{{VistaPreviaEvaluacionCtrl.evaluacion.nombre}}</h1></div>
            <div class="panel-heading">{{VistaPreviaEvaluacionCtrl.evaluacion.introduccion}} </div>
            <div class="panel-body">

                <div ng-repeat="pregunta in VistaPreviaEvaluacionCtrl.evaluacion.preguntas">

                    <div class="panel panel-primary" >

                        <div class="panel-heading">{{pregunta.id}}. {{pregunta.enunciado}}
                            <button type="submit" class="btn btn-danger btn-xs" ng-click="VistaPreviaEvaluacionCtrl.remover_pregunta(pregunta.id)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div ng-if="pregunta.tipo === 'A'">
                            <div class="panel-body">
                                <div ng-repeat="respuesta in VistaPreviaEvaluacionCtrl.evaluacion.respuestas">
                                    <div class="col-md-3" ng-if="respuesta.pregunta === pregunta.pk_pregunta">

                                        <div ng-if="respuesta.estado === 'new'">
                                            <div class="panel panel-info"  align ="right">
                                                <div class="panel-heading">{{respuesta.respuesta + '    '}}
                                                    <button type="submit" class="btn btn-danger btn-xs" ng-click="VistaPreviaEvaluacionCtrl.remove_resp(respuesta.respuesta)">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="panel-body"  align ="center">
                                                    <form class=form-control>
                                                        <input class="form-group" type="radio" name="name" ng-model="respuesta.valor" value="LIKE" disabled="">
                                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                                        <input class="form-group" type="radio" name="name" ng-model="respuesta.valor" value="UNLIKE" disabled="">
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="respuesta.estado === 'old'">
                                            <div class="panel panel-primary"  align ="center">
                                                <div class="panel-heading">{{respuesta.respuesta}}</div>
                                                <div class="panel-body"  align ="center">
                                                    <form class=form-control>
                                                        <input class="form-group" type="radio" name="name" ng-model="respuesta.valor" value="LIKE">
                                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                                        <input class="form-group" type="radio" name="name" ng-model="respuesta.valor" value="UNLIKE">
                                                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-info"  align ="center">
                                        <form>
                                            <div class="panel-heading">
                                                <input type="text" class="form-control" id = "{{'preg_' + pregunta.pk_pregunta}}" placeholder="Nuevo Concepto ...">
                                            </div>
                                            <button type="submit" class="btn btn-info" ng-click="VistaPreviaEvaluacionCtrl.asignar_nuevo(pregunta.pk_pregunta)">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Agregar
                                            </button>
                                        </form>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="pregunta.tipo === 'C'">
                            <div class="panel-body">
                                <div ng-repeat="respuesta in VistaPreviaEvaluacionCtrl.evaluacion.respuestas" >
                                    <div class="col-lg-6" ng-if="respuesta.pregunta === pregunta.pk_pregunta">
                                        <input class="form-group" type="radio" name="name" ng-model="respuesta.valor" ng-mousedown="VistaPreviaEvaluacionCtrl.limpiar(respuesta.respuesta, pregunta.pk_pregunta)" value="SELECT">
                                        {{respuesta.respuesta}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" align="right">
                <button type="button" class="btn btn-info btn-lg" ng-click="VistaPreviaEvaluacionCtrl.enviar()">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>   Enviar Evaluación
                </button>
            </div>
        </div>
    </div>
</div>
