<div class="col-lg-6">
  <h6>FORMATOS DE EVALUACION.</h6>
  <br>
  <div class="form-group">
    <label>Ingrese el Nombre de la evaluación</label>
    <input type="text" class="form-control" ng-model="evaluacion.nombre" name="nombre_evaluacion" id="nombre_evaluacion" required="" placeholder="* Nombre de la Evaluación" autocomplete="off">
  </div>
  <div class="form-group">
    <label>Ingrese la Introducción de la evaluación</label>
    <textarea type="text" class="form-control" ng-model="evaluacion.introduccion" name="introducción_evaluacion" id="introducción_evaluacion" required="" placeholder="* Introducción de la evaluación"autocomplete="off"></textarea>
  </div>
  <div class="row" align=center>
    <div class="col-lg-2">
      <button type="button" class="btn btn-info" ng-click="nueva_pregunta()"> + Pregunta</button>
    </div>
    <div class="col-lg-2">
      <button type="button"  class="btn btn-info" ng-click="nueva_opcion()">+ Opción</button>
    </div>
    <div class="col-lg-2">
      <button type="button"  class="btn btn-info" ng-click="guardar_cambios()">Guardar</button>
    </div>
    <div class="col-lg-2">
      <button type="button"  class="btn btn-info" ng-click="borrar()">Borrar</button>
    </div>
    <div class="col-lg-2">
      <button type="button"  class="btn btn-info" ng-click="calcular_peso()">peso</button>
    </div>
    <div class="col-lg-2">
      <button type="button"  class="btn btn-info" ng-click="nuevo()">Nueva</button>
    </div>
  </div>
  <br>
  <div ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-tree-view class="myGrid">
  </div>
</div><!--/col-lg-6 -->
