<div class="progress">
    <div class="progress-bar progress-bar-striped active"
         role="progressbar" aria-valuenow="{{evaluacion.peso.t}}"
         aria-valuemin="{{evaluacion.peso.min}}"
         aria-valuemax="{{evaluacion.peso.max}}"
         style="width: {{evaluacion.peso.t}}%">
       {{evaluacion.peso.t}}% Complete
    </div>
</div>
<div class="col-md-6" >
    <div class="panel panel-primary" >
        <div class="panel-heading" align="center"><h1>{{evaluacion.nombre}}</h1></div>
        <div class="panel-heading">{{evaluacion.introduccion}} </div>
        <div class="panel-body">

            <div ng-repeat="pregunta in evaluacion.preguntas"  ng-if="pregunta.$$treeLevel === 0">
                <div class="panel panel-defaul" >
                    <div class="panel-heading">{{pregunta.id}}. {{pregunta.enunciado}}
                    </div>

                    <div ng-if="pregunta.tipo === 'A'">
                        <div class="panel-body">
                            <textarea type="text" class="form-control" placeholder="Ingrese su respuesta aqui..."/></textarea>
                        </div>
                    </div>

                    <div ng-if="pregunta.tipo === 'N'">
                        <div class="panel-body">
                            <div class="col-md-8">
                                <input type="range" min="0" max="50" ng_model="numeric" ng-default="30"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" ng_model="numeric" disabled="true">
                            </div>
                        </div>
                    </div>

                    <div ng-if="pregunta.tipo === 'C'">
                        <div class="panel-body">
                          <div ng-repeat="opcion in pregunta.opciones" class="col-md-6">
                            <input class="form-group" type="{{pregunta.opcion}}" name="name">
                              {{opcion.enunciado}} <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <ge-pdf datos={{pdf_evaluacion}} archivo="evaluacion"/>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-info btn-lg" ng-click="VistaPreviaEvaluacionCtrl.enviar()">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>   Enviar Evaluación
            </button>
          </div>
        </div>
    </div>

</div>
