



<div class="col-lg-6" style="position: relative">
  <ver-documento documentoid="docenterevision.doctgId" loadpag="docenterevision.pagina" selectpag="docenterevision.pagina2"/>
<!--  <pre>{{docenterevision.revisionesd | json}}</pre>-->
</div>
<div class="col-lg-6">

<div ng-repeat="revision in docenterevision.revisionesd">
  <ver-revision revisionid="revision.Id"  paginaset="docenterevision.pagina" ng-if="revision.Estado != 'pendiente'"/>
  <revision-documento revisionid="revision.Id" actualizarev  paginadoc="docenterevision.pagina2" paginaset="docenterevision.pagina" ng-if="revision.Estado != 'finalizada'" />

</div>
{{actualizar}}



<!--
<br>  pagina seleccionada:{{docenterevision.pagina2}}<br>
  <span>pagina a cargar</span><input type="number" name="name" value="" ng-model="docenterevision.pagina"><br>
    url <input type="text" name="name" value="" ng-model="docenterevision.documento.enlace">-->
</div>
