<div class="panel panel-primary panel-body">
  <center>
    <h3 class="page-header">
      {{'REVISION_DOCUMENTOS' | translate}}
    </h3>
  </center>

  <loading tam="4" load="docenterevision.cargandoProyectos" message="docenterevision.mensajeCargandoProyectos"></loading>
  <div ng-if="!docenterevision.cargandoTrabajoGrado && docenterevision.vinculaciones" class="panel panel-default">
    <div class="panel-heading">
      <center>
        <h3 class="panel-title">{{'VINCULACIONES_TRABAJO_GRADO' | translate}}</h3>
      </center>
    </div>
    <div class="panel-body">
      <div class="row" ng-if="docenterevision.vinculaciones">
        <label class="col-sm-2">{{'SELECCION_PROYECTO' | translate}}:</label>
        <div class="col-md-10">
          <ui-select name="proyecto" ng-model="docenterevision.proyectoSeleccionado" required on-select="docenterevision.seleccionarProyecto()" style="width:97%;" theme="bootstrap">
            <ui-select-match placeholder="{{'SELECCION_PROYECTO' | translate}}...">{{$select.selected.TrabajoGrado.Titulo}}</ui-select-match>
            <ui-select-choices repeat="proyecto in docenterevision.vinculaciones | filter: $select.search">
              <span ng-bind-html="proyecto.TrabajoGrado.Titulo | highlight: $select.search"></span>
              (<span ng-bind-html="proyecto.TrabajoGrado.Modalidad.Nombre | highlight: $select.search"></span>)
               - {{'ROL' | translate}}:
              <span ng-bind-html="proyecto.RolTrabajoGrado.Nombre | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="panel-body alert alert-danger" ng-if="docenterevision.errorCargandoProyectos">
    <span ng-bind="docenterevision.mensajeErrorCargandoProyectos"></span>
  </div>

  <div class="panel-body alert alert-danger" ng-if="docenterevision.errorCargandoDocumento">
    <span ng-bind="docenterevision.mensajeErrorCargandoDocumento"></span>
  </div>

  <div class="row" ng-if="!docenterevision.cargandoProyectos && docenterevision.documentoEscrito">
    <div ng-class="{'col-md-6': !mindoc, 'col-md-10 col-md-offset-1':mindoc}">
      <label class="text-primary" ng-show="mindoc">{{'DOCUMENTO' | translate}}</label>
      <ver-documento documento="docenterevision.documentoEscrito" minified="mindoc"/>
      <!--  <pre>{{docenterevision.revisionesd | json}}</pre>-->
    </div>

    <div ng-class="{'col-md-6': !mindoc, 'col-md-10 col-md-offset-1':mindoc}">
      <div class="panel panel-default" ng-if="!docenterevision.errorCargandoRevisiones && docenterevision.revisionesTrabajoGrado">
        <div class="panel-heading">
          <center>
            <h3 class="panel-title">{{'REVISIONES' | translate}}</h3>
          </center>
        </div>

        <div class="panel-body" style="max-height: 650px; overflow-y:scroll;">
          <div ng-repeat="revision in docenterevision.revisionesTrabajoGrado">
            <ver-revision revisionid="revision.Id" autor="docenterevision.nombreDelDocente" paginaset="docenterevision.pagina2" ng-if="revision.EstadoRevisionTrabajoGrado.Nombre != 'pendiente'"/>
            <revision-documento revisionid="revision.Id" revisionestado="revision.EstadoRevisionTrabajoGrado" paginadoc="docenterevision.pagina" paginaset="docenterevision.pagina"/>
          </div>
        </div>
      </div>

      <div class="panel- alert alert-danger" ng-if="docenterevision.errorCargandoRevisiones">
        <span ng-bind="docenterevision.mensajeErrorCargandoRevisiones"></span>
      </div>
    </div>
  </div>

</div>
