<br>
<div class="panel panel-default">
  <div class="panel-heading">
    docente/tgs/revision_documento.
  </div>
  <div class="panel-body">

    <div class="col-md-6">
      <ver-documento documentoid="docenterevision.doc" loadpag="docenterevision.pagina" selectpag="docenterevision.pagina2"/>
      <!--  <pre>{{docenterevision.revisionesd | json}}</pre>-->
    </div>

    <div class="col-md-6">
      <div ng-repeat="revision in docenterevision.revisionesd">
        <ver-revision revisionid="revision.Id"  paginaset="docenterevision.pagina" ng-if="revision.Estado != 'pendiente'"/>
        <revision-documento revisionid="revision.Id" revisionestado="revision.Estado"  paginadoc="docenterevision.pagina2" paginaset="docenterevision.pagina" ng-if="revision.Estado != 'finalizada'" />

      </div>
    </div>
  </div>
  <div class="panel-footer">
    Panel Footer
  </div>
</div>
