<br>
<div class="panel panel-default">
  <div class="panel-heading">
      {{'ASIGNAR_AREA' | translate}}
  </div>
  <div class="panel-body">

    <div class="row">
      <blockquote >
        <h4>{{'DE_ACUERDO_A_SU_PERFIL' | translate}}</h4>
        <asignar-area setareas="areasParam" idarea="idareaparam" newarea="d_crearArea.nuevaArea"></asignar-area>
      </blockquote>
    </div>
    <div ng-if="d_crearArea.verificarAreas(d_asignarArea.Nombre)">
      <label style="color:blue" ng-if="setareas!=null"> {{'EL_AREA_NO_EXISTE' | translate}} </label>
      <label style="color:blue" ng-show="setareas==null"> {{'NO_EXISTEN_AREAS' | translate}} </label>
      <input type="submit"  ng-click="d_crearArea.registrarAreas(d_crearArea.Nombre)"
      value="Crear área" class="btn btn-info btn-md" />
    </div>
    <input type="submit" ng-disabled="!d_crearArea.nuevaArea"
     ng-click="d_crearArea.asignarAreasDocente(d_crearArea.nuevaArea)"
     value="Confirmar" class="btn btn-primary btn-md pull-right"></input>

</div>
<div class="panel-footer">

</div>
</div>
