


<div class="panel panel-default">
    <div class="panel-heading">
        {{'REPORTE_GENERAL_DOCENTES' | translate}}
    </div>
    <div class="panel-body">
        <div class="panel-body alert alert-danger" ng-if="!load && reporteGeneral.errorCargarParametros">
                {{listarSolicitudes.mensajeError}}
        </div>
        <div>
            <loading tam="4" load="load" message="msgCargandoSolicitudes"> </loading>

        </div>
        <h4>
            Seleccione Facultad y proyecto curricular antes de realizar la consulta por docente.
        </h4>
        <div ng-if="load!=true">
            <div class="row" >
                <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="carrera_seleccionada" ng-change="listarSolicitudes.filtrarSolicitudes(carrera_seleccionada);">
                        <option  ng-repeat="carrera in reporteGeneral.carreras_oikos" ng-value="carrera.Nombre"> {{carrera.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="row" ng-if="listarSolicitudes.userRole.includes('COORDINADOR_PREGRADO') && listarSolicitudes.carrerasCoordinador.length>1">
                <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="carrera_seleccionada" ng-change="listarSolicitudes.filtrarSolicitudes(carrera_seleccionada);">
                        <option  ng-repeat="carrera in listarSolicitudes.carrerasCoordinador" ng-value="carrera.codigo_proyecto_curricular"> {{carrera.codigo_proyecto_curricular}} - {{carrera.nombre_proyecto_curricular}} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>