<div class="panel panel-default">
    <div class="panel-heading">
        {{'REPORTE_GENERAL_DOCENTES' | translate}}
    </div>
    <div class="panel-body">
        <div class="panel-body alert alert-danger" ng-if="!load && reporteGeneral.errorCargarParametros">
            {{listarSolicitudes.mensajeError}}
        </div>
        <div>
            <loading tam="4" load="load" message="msgCargandoSolicitudes"> </loading>

        </div>
        <div ng-if="load!=true">
            <h4>
                <label class="col-sm-6"> Seleccione el reporte que desea generar </label>

            </h4>
            <!-- <div class="row" >
                <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="reporteGeneral.carrera_seleccionada" ng-change="listarSolicitudes.filtrarSolicitudes(reporte_general.carrera_seleccionada);">
                        <option  ng-repeat="carrera in reporteGeneral.carreras_oikos" ng-value="carrera.Nombre"> {{carrera.Nombre}}</option>
                    </select>
                </div>
            </div> 
            <div class="row">
                <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="reporteGeneral.carrera_seleccionada"
                        ng-change="listarSolicitudes.filtrarSolicitudes(reporte_general.carrera_seleccionada);">
                        <option ng-repeat="carrera in reporteGeneral.carrerasCoordinador"
                            ng-value="carrera.codigo_proyecto_curricular"> {{carrera.codigo_proyecto_curricular}} -
                            {{carrera.nombre_proyecto_curricular}} </option>
                    </select>
                </div>
            </div>
            <div class="row"
               >
                <label class="col-sm-2">{{'SELECCIONAR_PERIODO' | translate}}</label>
                <div class="col-sm-10">
                    <select ng-model="reporteGeneral.periodo_seleccionado" ng-change="">
                        <option ng-repeat="periodo in reporteGeneral.periodos"
                            ng-value="periodo.anio+-+periodo.periodo">
                            {{periodo.anio}}-{{periodo.periodo}}
                        </option>
                    </select>
                </div>
            </div>
           <div class="row">
                <div class="col-sm-10">
                    <button class="btn btn-success" ng-click="reporteGeneral.generar_reporte()">Generar Reporte</button>
                </div>
            </div>
            <div class="row" ng-show="reporteGeneral.generarReporte !== 0">
                <spagobi reporte="polux_tg_pregrado" periodo="reporteGeneral.periodo_seleccionado"
                    codigo="reporteGeneral.carrera_seleccionada" boton="reporteGeneral.generarReporte"></spagobi>
            </div>
            
          -->
            <div class="row">
                <div class="col-sm-10" ng-show="reporteGeneral.muestra_btn !== 0">
                    <button class="btn btn-success" ng-click="reporteGeneral.generar_reporte_general()">Reporte General
                        modalidades de grado</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <button class="btn btn-success" ng-click="reporteGeneral.generar_reporte_docente()">Generar Reporte
                        por docente</button>
                </div>
                <div class="col-sm-10" ng-show="reporteGeneral.muestra_btn !== 0">
                    <button class="btn btn-success" ng-click="reporteGeneral.cambio_reporte()">Cambiar Reporte</button>
                </div>  
                <div class="col-md-10">

                   <iframe id="ReporteGeneral" ng-show="reporteGeneral.generarReporte1 >= 1" width="100%" height="1200"
                        src="https://inteligenciainstitucional.portaloas.udistrital.edu.co/knowage/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&OBJECT_LABEL=PoluxReporteG&TOOLBAR_VISIBLE=true&ORGANIZATION=DEFAULT_TENANT&NEW_SESSION=true"
                        frameborder="0">></iframe>
                  
                </div>

                <div class="col-md-10">

                   <iframe id="ReporteDocente" ng-show="reporteGeneral.generarReporte2 >= 1" width="100%" height="1200"
                        src="https://inteligenciainstitucional.portaloas.udistrital.edu.co/knowage/servlet/AdapterHTTP?ACTION_NAME=EXECUTE_DOCUMENT_ACTION&OBJECT_LABEL=RDPolux&TOOLBAR_VISIBLE=true&ORGANIZATION=DEFAULT_TENANT&NEW_SESSION=true"
                        frameborder="0">></iframe>
                  
                
                </div>
            </div>
        </div>
    </div>