<div class="panel panel-default">
    <div class="panel-heading">
        {{'REPORTE_GENERAL_DOCENTES' | translate}}
    </div>
    <div class="panel-body">
        <div class="panel-body alert alert-danger" ng-if="!load && reporteGeneral.errorCargarParametros">
            {{listarSolicitudes.mensajeError}}
        </div>
        <div>
            <loading tam="4" load="load" message="msgCargandoSolicitudes"> </loading>

        </div>
        <div ng-if="load!=true">
            <h4>
                Seleccione Facultad y proyecto curricular antes de realizar la consulta por docente. a
            </h4>
             <div class="row" >
                <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="reporteGeneral.carrera_seleccionada" ng-change="listarSolicitudes.filtrarSolicitudes(reporte_general.carrera_seleccionada);">
                        <option  ng-repeat="carrera in reporteGeneral.carreras_oikos" ng-value="carrera.Nombre"> {{carrera.Nombre}}</option>
                    </select>
                </div>
            </div> 
            <div class="row">
                <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="reporteGeneral.carrera_seleccionada"
                        ng-change="listarSolicitudes.filtrarSolicitudes(reporte_general.carrera_seleccionada);">
                        <option ng-repeat="carrera in reporteGeneral.carrerasCoordinador"
                            ng-value="carrera.codigo_proyecto_curricular"> {{carrera.codigo_proyecto_curricular}} -
                            {{carrera.nombre_proyecto_curricular}} </option>
                    </select>
                </div>
            </div>
            <div class="row"
               >
                <label class="col-sm-2">{{'SELECCIONAR_PERIODO' | translate}}</label>
                <div class="col-sm-10">
                    <select ng-model="reporteGeneral.periodo_seleccionado" ng-change="">
                        <option ng-repeat="periodo in reporteGeneral.periodos"
                            ng-value="periodo.anio+-+periodo.periodo">
                            {{periodo.anio}}-{{periodo.periodo}}
                        </option>
                    </select>
                </div>
            </div>
           <div class="row">
                <div class="col-sm-10">
                    <button class="btn btn-success" ng-click="reporteGeneral.generar_reporte()">Generar Reporte</button>
                </div>
            </div>
            <div class="row" ng-show="reporteGeneral.generarReporte !== 0">
                <spagobi reporte="polux_tg_pregrado" periodo="reporteGeneral.periodo_seleccionado"
                    codigo="reporteGeneral.carrera_seleccionada" boton="reporteGeneral.generarReporte"></spagobi>
            </div>
        <select class="form-control" ng-model="reportesCt.nombreReporte">      
            <option value="ReportegeneralPolux">Reporte General</option>
          </select>
          <div class="col-md-1"></div>
          <spagobi reporte="{{reportesCt.nombreReporte}}"></spagobi>
        </div>
        </div>
        </div>
    </div>
</div>