<div class="row" align="center">
    <button type="submit" class="btn btn-theme" ng-click="imprimir()">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </button>

    <button type="submit" class="btn btn-theme" ng-click="guardar()">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>

    <button type="submit" class="btn btn-theme" ng-click="ver()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</div>
