<div class="panel panel-primary panel-body">
    <center>
      <h3 class="page-header">
        {{'REVISION_DOCUMENTOS' | translate}}
      </h3>
    </center>
  
    <loading tam="4" load="conceptoTg.cargando" message="conceptoTg.mensajeCargando"></loading>
  
    <div class="panel-body alert alert-danger" ng-if="!conceptoTg.cargando && conceptoTg.errorCargando">
      <span ng-bind="conceptoTg.mensajeError"></span>
    </div>

    <div ng-if="!conceptoTg.cargando && !conceptoTg.errorCargando">
        <versiones-documentos-tg tg="conceptoTg.vinculacion.TrabajoGrado" veranteproyecto="conceptoTg.verAnteproyecto" verproyecto="false" verproyectorevision="conceptoTg.verProyectoRevision"></versiones-documentos-tg>
    </div>
  
    <div class="row" ng-if="!conceptoTg.cargando && !conceptoTg.errorCargando">
      <div ng-class="{'col-md-6': !mindoc, 'col-md-10 col-md-offset-1':mindoc}">
        <label class="text-primary" ng-show="mindoc">{{'DOCUMENTO' | translate}}</label>
        <ver-documento documento="conceptoTg.vinculacion.TrabajoGrado.documentoTg.DocumentoEscrito" minified="mindoc"/>
        <!--  <pre>{{docenterevision.revisionesd | json}}</pre>-->
      </div>
  
      <div ng-class="{'col-md-6': !mindoc, 'col-md-10 col-md-offset-1':mindoc}">
        <!-- para la nueva revisión-->
        <div ng-if="conceptoTg.mostrarPanelRevision">
          <div class="panel panel-warning">
            <div class="panel-heading" ng-click="showc=!showc">
              <h3 class="panel-title">{{'REVISION' | translate}} {{conceptoTg.revisionActual.NumeroRevision}} {{conceptoTg.vinculacion.TrabajoGrado.Titulo}}
              </h3>
            </div>
            <div class="panel-body" ng-show="showc" style="max-height: 320px; overflow-y: scroll;">
              <p class="text-muted">
                <cite>
                  <span>{{'FECHA_REVISION' | translate}}: {{conceptoTg.revisionActual.FechaRecepcion | date:'dd-MMM-yyyy'}}
                  </span>
                </cite>
                <br>
              <p>
              <!--Aquí se selecciona el concepto que da el docente-->
              <div class="panel">
                <div class="row">
                  <p class="col-sm-4 control-label"> {{'REVISAR_ANTEPROYECTO.SELECCIONAR_RESPUESTA' | translate}} </p>
                  <div class="col-sm-8">
                    <select class="form-control" ng-model="conceptoTg.revisionActual.respuestaSeleccionada" ng-change="conceptoTg.respuestaHabilitada = true" required>
                      <option ng-repeat="respuesta in conceptoTg.coleccionRespuesta" ng-value="respuesta"> {{respuesta.nombreEstadoTrabajoGrado}} </option>
                    </select>
                  </div>
                </div>
              </div>
              <!--Aquí se genera la dinámica de las correcciones-->
              <div ng-repeat="correccion in conceptoTg.revisionActual.Correcciones">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    {{correccion.Observacion}}
                    <span class="pull-right">
                      <a href="" class="ver" ng-click="show =!show" ><i class="fa fa-eye fa-lg" aria-hidden="true" data-toggle="tooltip" title="{{'VER' | translate}}"></i></a>
                      <a href="" class="editar" ng-click="showedit =!showedit; correccion_temp=conceptoTg.copyObject(correccion)" ><i data-toggle="tooltip" title="{{'EDITAR' | translate}}" class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
                      <a href="" class="borrar" ng-click="conceptoTg.eliminarCorreccion(correccion)"><i data-toggle="tooltip" title="{{'BORRAR' | translate}}" class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </span>
                  </div>
                  <div class="panel panel-body" ng-show="showedit" >
                    <div class="panel-body">
                      <form name="editForm" ng-submit="conceptoTg.editarCorreccion(correccion,correccion_temp)">
                        <fieldset class="form-group">
                          <input class="form-control" type="text" placeholder="{{'ENUNCIADO_SIN_DOSPUNTOS' | translate}}" ng-model="correccion_temp.Observacion" required>
                        </fieldset>
                        <fieldset class="form-group">
                          <textarea class="form-control col-md-8 offset-2" placeholder="{{'DESCRIPCION' | translate}}" ng-model="correccion_temp.Justificacion" required></textarea>
                        </fieldset>
                        <div class=" pull-right">
                          <button class="btn btn-default" ng-click="showedit =!showedit;" type="button">{{'CANCELAR' | translate}}</button>
                          <input class="btn-primary btn" ng-click="showedit =!showedit;" type="submit" value="{{'EDITAR' | translate}}">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="panel-body" ng-show="show || showedit">
                    {{correccion.Justificacion}}
                  </div>
                </div>
              </div>
              <!--Aquí se enseña el contenido que se pide para la revisión-->
              <button class="btn btn-success pull-right" type="button" ng-show="!showfm" ng-click="showfm =!showfm">{{'AGREGAR_COMENTARIO' | translate}}</button>
              <div class="panel panel-success" ng-show="showfm">
                <div class="panel-body">
                  <form name="modiForm3" ng-submit="conceptoTg.agregarCorreccion()">
                    <fieldset class="form-group">
                      <input class="form-control" type="text" placeholder="{{'ENUNCIADO_SIN_DOSPUNTOS' | translate}}" ng-model="conceptoTg.correccion.Observacion" required>
                    </fieldset>
                    <fieldset class="form-group">
                      <textarea class="form-control col-md-8 offset-2" title="descripcion" placeholder="{{'DESCRIPCION' | translate}}" ng-model="conceptoTg.correccion.Justificacion" required></textarea>
                    </fieldset>
                    <!--
                    <fieldset class="form-group">
                      <input type="checkbox" class="checkbox checkbox-inline" ng-model="d_revisionDocumento.agregarpag"> Agregar pagina de corrección: {{paginadoc}}</input>
                    </fieldset>
                    -->
                    <div class=" pull-right">
                      <button class="btn btn-default" ng-click="showfm =!showfm; conceptoTg.correccion={}" type="button">{{'CANCELAR' | translate}}</button>
                      <input class="btn-primary btn" ng-click="showfm = !showfm" type="submit" value="{{'AGREGAR' | translate}}">
                    </div>
                  </form>
                </div>
              </div>
              <!--Aquí se opera la inclusión del documento-->
              <div class="panel">
                <br>
                <div class="row">
                  <div class="col-sm-2">
                    <switch ng-click="conceptoTg.revisionActual.documentModel = undefined;" ng-model="showDocumento" class="blue" on="{{'SWITCH.SI'|translate}}" off="{{'SWITCH.NO'|translate}}"></switch>
                  </div>
                  <p class="col-sm-10 control-label"> {{'DESEA_INCLUIR_DOCUMENTO' | translate}} </p>
                </div>
                <div ng-if="showDocumento">
                  <br>
                  <form name="formularioDocumento">
                    <div class="row">
                      <p class="col-sm-3 control-label">{{'SELECCIONE_EL_DOCUMENTO' | translate}}</p>
                      <div class="col-sm-6">
                        <input id="inputdocumento" type="file" angular-bfi="{'showUpload':false, 'showRemove': false, allowedFileExtensions:['pdf'], language:'es', maxFileSize: 2000}" file-model="conceptoTg.revisionActual.documentModel" required>
                      </div>
                      <div class="col-sm-3">
                        <button class="btn btn-primary" ng-click="conceptoTg.revisionActual.documentModel = undefined; showDocumento = !showDocumento;" type="reset">
                          {{'QUITAR_DOCUMENTO' | translate}}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!--Aquí se maneja el guardado de la revisión-->
              <span class="pull-right" ng-if="conceptoTg.revisionActual.respuestaSeleccionada && (conceptoTg.revisionActual.Correcciones.length > 0 || conceptoTg.revisionActual.documentModel)">
                <button class="btn btn-primary" ng-click="conceptoTg.guardarRevision()">
                  {{'GUARDAR_REVISION' | translate}}
                </button>
              </span>
            </div>
          </div>          
        </div>

        <div class="panel panel-default" ng-if="conceptoTg.vinculacion.TrabajoGrado.revisiones.length > 0">
          <div class="panel-heading">
            <center>
              <h3 class="panel-title">{{'REVISIONES' | translate}}</h3>
            </center>
          </div>
  
          <div class="panel-body" style="max-height: 450px; overflow-y:scroll;">
            <div ng-repeat="revision in conceptoTg.vinculacion.TrabajoGrado.revisiones">
              <ver-revision revisionid="revision.Id" autor="docenterevision.nombreDelDocente" paginaset="docenterevision.pagina2" ng-if="revision.EstadoRevisionTrabajoGrado.Nombre != 'pendiente' && revision.EstadoRevisionTrabajoGrado.Nombre != 'borrador'"/>
              <div ng-if="revision.EstadoRevisionTrabajoGrado.Nombre == 'pendiente' || revision.EstadoRevisionTrabajoGrado.Nombre == 'borrador'">
                <div ng-if="revision.VinculacionTrabajoGrado.Usuario == docenterevision.documentoDocente">
                  <revision-documento revisionid="revision.Id" revisionestado="revision.EstadoRevisionTrabajoGrado" paginadoc="docenterevision.pagina" paginaset="docenterevision.pagina"/>
                </div>
                <div ng-if="revision.VinculacionTrabajoGrado.Usuario != docenterevision.documentoDocente">
                  <p class="text-danger"> {{'LA_REVISION' | translate}} {{revision.NumeroRevision}} {{'REVISION_SOLICITADA_OTRO' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="panel- alert alert-danger" ng-if="conceptoTg.vinculacion.TrabajoGrado.revisiones.length == 0">
          <span>{{'ERROR.SIN_REVISIONES' | translate}}</span>
        </div>
      </div>
    </div>
  
  </div>
  
