<div class="panel panel-default">
    <div class="panel-heading">
        {{'CONSULTAR_TRABAJO_GRADO' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
            <form ng-if="consultarTrabajoGrado.userRole.includes('COORDINADOR_PREGRADO')" name="formCodigoEstudiante" ng-submit="consultarTrabajoGrado.consultarTrabajoGrado()">
                <div class="col-sm-3">
                    <label class="control-label"> {{'INPUT.CODIGO_ESTUDIANTE' | translate}} </label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control col-sm-12" ng-model="consultarTrabajoGrado.codigoEstudiante" required>
                </div>
                <div class="col-sm-3">
                        <input type="submit" ng-disabled="consultarTrabajoGrado.codigoEstudiante.length != 11" value="{{'INPUT.CONSULTAR' | translate}}"  class="col-sm-12 btn btn-success" type="submit">
                </div>
            </form>
        </div>
        <loading tam="4" load="consultarTrabajoGrado.loadTrabajoGrado" message="consultarTrabajoGrado.mensajeCargandoTrabajoGrado"></loading>
        <div class="row" ng-if="!consultarTrabajoGrado.loadTrabajoGrado && consultarTrabajoGrado.errorCargandoTrabajoGrado">
            <br>
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    {{'ERROR' | translate}}: {{consultarTrabajoGrado.mensajeError}} 
                </div>
            </div>
        </div>
        <div ng-if="!consultarTrabajoGrado.loadTrabajoGrado && !consultarTrabajoGrado.errorCargandoTrabajoGrado && consultarTrabajoGrado.trabajoCargado">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'DATOS_ESTUDIANTE' | translate}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'CODIGO' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.estudiante.codigo}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'NOMBRE' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.estudiante.datos.nombre}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'PENSUM' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.estudiante.datos.pensum}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'CARRERA' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.estudiante.datos.proyecto}} </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'DATOS_TRABAJO_GRADO' | translate}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'Nombre' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.Titulo}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'MODALIDAD' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.Modalidad.Nombre}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'PERIODO' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.PeriodoAcademico}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'ESTADO' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.EstadoTrabajoGrado.Nombre}} </label>
                    </div>
                    <div ng-if="consultarTrabajoGrado.esAnteproyectoModificable">
                            <div class="row">
                                <div class="control-label col-sm-12">
                                    <div class="alert alert-warning">
                                        {{'ANTEPROYECTO_MODIFICABLE' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="row row-centered">
                                <div class="col-sm-3 col-centered">
                                    <input class="btn btn-success" type="submit" value="{{'SUBIR_CORRECCIONES_ANTEPROYECTO' | translate}}" ng-click="consultarTrabajoGrado.actualizarTg()">
                                </div>
                            </div>
                            <br>
                        </div>
                        <div ng-if="consultarTrabajoGrado.esPrimeraVersion">
                            <div class="row" >
                                <div class="control-label col-sm-12">
                                    <div class="alert alert-warning">
                                        {{'PROYECTO_VIABLE_WARNING' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="row row-centered">
                                <div class="col-sm-3 col-centered">
                                    <input class="btn btn-success" type="submit" value="{{'PRIMERA_VERSION.SUBIR' | translate}}" ng-click="consultarTrabajoGrado.actualizarTg()">
                                </div>
                            </div>
                            <br>
                        </div>
                    <div class="row">
                        <label class="control-label col-sm-12"> {{'ASIGNATURAS_TRABAJO_GRADO' | translate}}: </label>
                        <div class="panel col-md-12">
                            <div ui-grid="consultarTrabajoGrado.gridOptionsAsignaturas" class="mi-grid" id="mi-grid" style="height: {{(consultarTrabajoGrado.gridOptionsAsignaturas.data.length*35)+40}}px" ui-grid-cellNav ui-grid-auto-resize></div>
                        </div>
                    </div>
                    <div class="row" ng-if="consultarTrabajoGrado.trabajoGrado.espacios.length > 0">
                        <label class="control-label col-sm-12"> {{'ESPACIOS_ACADEMICOS_INSCRITOS' | translate}}: </label>
                        <div class="panel col-md-12">
                            <div ui-grid="consultarTrabajoGrado.gridOptionsEspacios" class="mi-grid" id="mi-grid" style="height: {{(consultarTrabajoGrado.gridOptionsEspacios.data.length*35)+40}}px" ui-grid-cellNav ui-grid-auto-resize></div>
                        </div>
                    </div>
                    <!-- Modalidad de pasantia -->
                    <div ng-if="consultarTrabajoGrado.trabajoGrado.Modalidad.Id === 1">
                        <div class="row">
                            <label class="control-label col-sm-2"> {{'PASANTIA.DETALLE_PASANTIA' | translate}}:  </label>
                            <label class="control-label col-sm-10"> {{consultarTrabajoGrado.trabajoGrado.DetallePasantia}} </label>
                        </div>
                        <div ng-repeat="acta in consultarTrabajoGrado.trabajoGrado.Actas">
                            <div class="row">
                                <label class="col-sm-3 control-label"> {{acta.DocumentoEscrito.Titulo}}:  </label>
                                <label ng-click="consultarTrabajoGrado.getDocumento(acta.DocumentoEscrito.Enlace)" class="col-sm-9" style="color:blue; text-decoration: underline;"> {{'VER_DOCUMENTO' | translate}}  </label>
                            </div>
                        </div>
                        <div class="row" ng-if="consultarTrabajoGrado.trabajoGrado.Actas.length===0">
                            <br>
                            <div class="col-sm-12">
                                <div class="alert alert-danger">
                                    {{'PASANTIA.NO_ACTAS_REGISTRADAS_ACTUALMENTE' | translate}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!consultarTrabajoGrado.loadTrabajoGrado && !consultarTrabajoGrado.errorCargandoTrabajoGrado && consultarTrabajoGrado.trabajoCargado && consultarTrabajoGrado.trabajoGrado.Vinculados.length != 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{'VINCULACIONES_TRABAJO_GRADO' | translate}}
                </div>
                <div class="panel-body">
                    <div ng-repeat="vinculado in consultarTrabajoGrado.trabajoGrado.Vinculados">
                        <div class="row">
                            <label class="control-label col-sm-2"> {{vinculado.RolTrabajoGrado.Nombre}}: </label>
                            <label class="control-label col-sm-10"> {{vinculado.Nombre}} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalActualizarTg" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
  <div class="modal-content col-md-offset-2 col-md-8">
    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button>
      <br>
    </div>
    <div class="panel panel-default" ng-if="consultarTrabajoGrado.esAnteproyectoModificable">
      <div class="panel-heading">
        {{'REVISAR_ANTEPROYECTO.OBSERVACIONES' | translate}}
      </div>
      <div class="panel-body">
        <div class="row">
          <label class="col-sm-12 control-label"> {{'CORREGIR_ANTEPROYECTO.INSTRUCCIONES' | translate}} </label>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-if="consultarTrabajoGrado.esPrimeraVersion">
      <div class="panel-heading">
        {{'PRIMERA_VERSION.OBSERVACIONES' | translate}}
      </div>
      <div class="panel-body">
        <div class="row">
          <label class="col-sm-12 control-label"> {{'PRIMERA_VERSION.INSTRUCCIONES' | translate}} </label>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'ACTUALIZAR_TG.DESCRIPCION' | translate}}
      </div>
      <loading tam="4" load="consultarTrabajoGrado.cargandoActualizarTg" message="consultarTrabajoGrado.mensajeCargandoActualizarTg"></loading>
      <div class="panel-body" ng-if="!consultarTrabajoGrado.cargandoActualizarTg">
        <form method="post" name="formularioSubirDocumento" ng-submit="consultarTrabajoGrado.subirDocumento()">
          <div class="row">
            <label class="col-sm-3 control-label"> {{'SELECCIONE_EL_DOCUMENTO' | translate}} </label>
            <div class="col-sm-9 ">
                <input type="file" angular-bfi="{'showUpload':false, allowedFileExtensions:['pdf'], language:'es', maxFileSize: 2000}" file-model="consultarTrabajoGrado.nuevaVersion" required></input>
            </div>
            <br>
          </div>
          <br>
          <div class="row row-centered" ng-if="formularioSubirDocumento.$valid">
            <div class="col-sm-3 col-centered">
              <input type="submit" class="btn btn-success" value="{{'SUBIR_DOCUMENTO'|translate}}">
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>