<div class="panel panel-default">
    <div class="panel-heading">
        {{'REGISTRAR_NOTA.PANEL' | translate}}
    </div>
    <div class="panel-body">
        <loading tam="4" load="registrarNotaVinculado.cargandoTrabajos" message="registrarNotaVinculado.mensajeTrabajos"> </loading>
        <div ng-if="registrarNotaVinculado.errorCargando && !registrarNotaVinculado.cargandoTrabajos">
            <div class="panel-body">
                <div class="alert alert-danger">
                    {{'ERROR' | translate}}: {{registrarNotaVinculado.mensajeError}}
                </div>
            </div>
        </div>
        <div ng-if="!registrarNotaVinculado.errorCargando && !registrarNotaVinculado.cargandoTrabajos">
            <div class="panel col-md-12">
                <div ui-grid="registrarNotaVinculado.gridOptions"  ui-grid-cellNav  ui-grid-pagination class="mi-grid" id="mi-grid" ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>

<div id="modalRegistrarNota" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
            {{'REGISTRAR_NOTA.PANEL' | translate}}
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'DATOS_TRABAJO_GRADO' | translate}}
            </div>
            <div class="panel-body">
                <loading tam="4" load="registrarNotaVinculado.cargandoTrabajo" message="registrarNotaVinculado.mensajeTrabajo"> </loading>
                <div ng-if="registrarNotaVinculado.errorCargandoTrabajo && !registrarNotaVinculado.cargandoTrabajo">
                    <div class="panel-body">
                        <div class="alert alert-danger">
                            {{'ERROR' | translate}}: {{registrarNotaVinculado.mensajeErrorTrabajo}}
                        </div>
                    </div>
                </div>
                <div ng-if="!registrarNotaVinculado.errorCargandoTrabajo && !registrarNotaVinculado.cargandoTrabajo">
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'Nombre' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{registrarNotaVinculado.trabajoSeleccionado.Titulo}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'MODALIDAD' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{registrarNotaVinculado.trabajoSeleccionado.Modalidad.Nombre}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'PERIODO' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{registrarNotaVinculado.trabajoSeleccionado.PeriodoAcademico}} </label>
                    </div>
                    <div class="row">
                        <label class="control-label col-sm-2"> {{'ESTADO' | translate}}: </label>
                        <label class="control-label col-sm-10"> {{registrarNotaVinculado.trabajoSeleccionado.EstadoTrabajoGrado.Nombre}} </label>
                    </div>
                    <div class="row" ng-if="!registrarNotaVinculado.isCoordinador">
                        <label class="control-label col-sm-2"> {{'DOCUMENTO_REVISION' | translate}}: </label>
                        <label ng-click="registrarNotaVinculado.getDocumento()" class="col-sm-10" style="color:blue; text-decoration: underline;"> {{'VER_DOCUMENTO' | translate}}  </label>
                    </div>

                    <div class="row" ng-repeat="anexo in registrarNotaVinculado.anexosTrabajoGrado" ng-if="!registrarNotaVinculado.isCoordinador">
                        <label class="control-label col-sm-2"> {{'ANEXOS' | translate}}: </label>
                        <label ng-click="registrarNotaVinculado.getDocAnyFormat(anexo.DocumentoEscrito.Enlace)" class="col-sm-8 " style="color:blue; text-decoration: underline;"> {{ 'DESCARGAR_DOCUMENTOS' | translate}} </label>
                    </div>

                    <div ng-repeat="estudiante in registrarNotaVinculado.trabajoSeleccionado.estudiantes">
                        <div class="row">
                            <label class="control-label col-sm-2"> {{'CODIGO' | translate}}: </label>
                            <label class="control-label col-sm-4"> {{estudiante.datos.codigo}} </label>
                            <label class="control-label col-sm-1"> {{'NOMBRE' | translate}}: </label>
                            <label class="control-label col-sm-5"> {{estudiante.datos.nombre}} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="!registrarNotaVinculado.errorCargandoTrabajo && !registrarNotaVinculado.cargandoTrabajo && registrarNotaVinculado.registrarNota">
            <div class="panel-heading">
                {{'REGISTRAR_NOTA.PANEL' | translate}}
            </div>
            <div class="panel-body">
                <div ng-if="!registrarNotaVinculado.errorCargandoTrabajo && !registrarNotaVinculado.cargandoTrabajo">
                    <div ng-if="!registrarNotaVinculado.trabajoSeleccionado.notaRegistrada">
                        <loading tam="4" load="registrarNotaVinculado.registrandoNotaTG" message="registrarNotaVinculado.mensajeRegistrandoNota"> </loading>
                        <div class="row" ng-if="registrarNotaVinculado.trabajoSeleccionado.pedirReporteNotasPosgrado">
                            <div class="panel-body">
                              <div class="alert-warning">
                                <strong>{{'AVISO_PDF' | translate}}</strong>
                              </div>
                            </div>
                            
                            <label class="col-sm-3 control-label">{{'REGISTRAR_NOTA.REPORTE_NOTAS_POSGRADO' | translate}}</label>
                            <div class="col-sm-9">
                              <input type="file" fileinput="{'showUpload':false, 'allowedFileExtensions':['pdf'], 'language':'es'}" file-model="registrarNotaVinculado.trabajoSeleccionado.reporteNotasPosgrado" onchange="angular.element(this).scope().verificarArchivo(this)" required> </input>
                            </div>
                              
                            <br>
                        </div>
                        <br>
                        <br>
                        <div ng-if="!registrarNotaVinculado.registrandoNotaTG">
                            <form  method="post" name="formularioNota" ng-submit="registrarNotaVinculado.registrarNotaTG()">
                                <div class="row">
                                    <label class="control-label col-sm-12"> {{'REGISTRAR_NOTA.INSTRUCCIONES' | translate}} </label>
                                </div>
                                <br>
                                <div class="row">
                                    <label class="control-label col-sm-3"> {{'NOTA' | translate}}: </label>
                                    <div class="col-sm-9 ">
                                        <input class="form-control" type="number" placeholder="0.00" required  min="0" max="5" ng-model="registrarNotaVinculado.trabajoSeleccionado.nota" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"></input>
                                    </div>
                                </div>
                                <br>
                                <div class="row" ng-if="registrarNotaVinculado.trabajoSeleccionado.pedirActaSustentacion">
                                    <label class="control-label col-sm-3"> {{'SELECT.ACTA_SOCIALIZACION' | translate}}: </label>
                                    <div class="col-sm-9 ">
                                        <input type="file" fileinput="{'showUpload':false, 'allowedFileExtensions':['pdf'], language:'es'}" file-model="registrarNotaVinculado.trabajoSeleccionado.actaSustentacion" onchange="angular.element(this).scope().verificarArchivo(this)" required> </input>
                                    </div>
                                </div>
                                <br>
                                <div class="row row-centered" ng-if="formularioNota.$valid">
                                    <div class="col-sm-3 col-centered">
                                        <input class="btn btn-success" type="submit" value="{{'BTN.REGISTRAR_NOTA' | translate}}"></input>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-if="registrarNotaVinculado.trabajoSeleccionado.notaRegistrada">
                        <div class="row">
                            <label class="control-label col-sm-4"> {{'REGISTRAR_NOTA.NOTA_REGISTRADA_DOCENTE' | translate}}: </label>
                            <label class="control-label col-sm-8"> {{registrarNotaVinculado.trabajoSeleccionado.evaluacion.Nota}} </label>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="panel panel-default" ng-if="registrarNotaVinculado.devolver && !registrarNotaVinculado.errorCargandoTrabajo && !registrarNotaVinculado.cargandoTrabajo">
            <div class="panel-heading">
                {{'SOLICITAR_CORRECCIONES.PANEL' | translate}}
            </div>
            <div class="panel-body">
                <div ng-if="!registrarNotaVinculado.errorCargandoTrabajo && !registrarNotaVinculado.cargandoTrabajo">
                    <div ng-if="!registrarNotaVinculado.trabajoSeleccionado.notaRegistrada">
                        <loading tam="4" load="registrarNotaVinculado.registrandoNotaTG" message="registrarNotaVinculado.mensajeRegistrandoNota"> </loading>
                        <div ng-if="!registrarNotaVinculado.registrandoNotaTG">
                            <form method="post" name="formularioCorrecciones" ng-submit="registrarNotaVinculado.registrarCorrecciones()">
                                <label class="control-label col-sm-3"> {{'SOLICITAR_CORRECCIONES.LABEL' | translate}}: </label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" ng-model="registrarNotaVinculado.observaciones"
                                        placeholder="{{'SOLICITAR_CORRECCIONES.PLACEHOLDER' | translate}}" ng-required="true">
                                    </textarea>
                                </div>
                                <br><br><br>
                                <div class="row row-centered" style="padding-top: 1rem">
                                    <div class="col-sm-3 col-centered">
                                        <input ng-disabled="!formularioCorrecciones.$valid" class="btn btn-success" type="submit"
                                            value="{{'SOLICITAR_CORRECCIONES.SUBMIT' | translate}}"></input>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
