<br>
<div class="panel panel-default">
    <div class="panel-heading">
        {{'SOLICITAR_ASIGNATURAS' | translate}}
    </div>

    <div class="panel-body">
        <loading tam="3" load="d_solicitarAsignaturas.loading" message="d_solicitarAsignaturas.cargando"> </loading>
        
        <div class="panel-body alert alert-danger" ng-if="!d_solicitarAsignaturas.loading && d_solicitarAsignaturas.errorCargando">
            {{'ERROR.CARGAR_ASIGNATURAS_SOLICITUD'|translate}}
        </div>

        <div ng-if="!d_solicitarAsignaturas.loading && !d_solicitarAsignaturas.errorCargando">
          <!-- <label for="anio" class="col-sm-2 control-label">{{'ANO' | translate}}:</label>
          <label for="anioSel" class="col-sm-10 control-label">{{d_solicitarAsignaturas.periodo.anio}}</label>

          <label for="periodo" class="col-sm-2 control-label">{{'PERIODO' | translate}}:</label>
          <label for="anioSel" class="col-sm-10 control-label">{{d_solicitarAsignaturas.periodo.periodo}}</label> -->
          <div class="panel-body">
            <div class="alert-warning">
              <strong>{{'TEXTO_INFO_SELECCION_ASIGNATURAS_POSGRADO' | translate}}</strong>
            </div>
          </div>
          <!-- <label for="" class=" control-label">{{'TEXTO_INFO_SELECCION_ASIGNATURAS_POSGRADO' | translate}}:</label> -->

          <label for="carrera" class="col-sm-2 control-label">{{'SELECCIONE_ESPACIOS_ACADEMICOS' | translate}}:</label>
          <div class="col-sm-10" ng-if="!d_solicitarAsignaturas.carreras.length>0">
              <label for="periodo" class="col-sm-10 control-label">{{'SIN_CARRERAS_SOLICITUDES' | translate}}.</label>
          </div>

          <div class="col-sm-10" ng-if="d_solicitarAsignaturas.carreras.length>0">
            <select ng-model="carreraSeleccionada" name="carrera" class="form-control" ng-change="d_solicitarAsignaturas.cargarMaterias(carreraSeleccionada, 1)" ng-disabled="selectsDeshabilitados">
              <option ng-repeat="p in d_solicitarAsignaturas.carreras" ng-value="p">{{p.Nombre}} </option>
            </select><br> 
          </div>

          <div class="col-sm-12" style="padding-bottom: 2%;">
            <label class="col-sm-4 control-label">{{'MATERIAS_POSGRADO.DOBLE_SOLICITUD' | translate}}</label>
            <switch class="col-sm-8 control-label" ng-model="d_solicitarAsignaturas.dobleSolicitud" on="{{'SWITCH.SI'|translate}}" off="{{'SWITCH.NO'|translate}}"></switch>
          </div>

          <label for="carrera" ng-if="d_solicitarAsignaturas.dobleSolicitud" class="col-sm-2 control-label">{{'SELECCIONE_ESPACIOS_ACADEMICOS_2' | translate}}:</label>
          <div class="col-sm-10" ng-if="!d_solicitarAsignaturas.carreras.length>0">
              <label for="periodo" class="col-sm-10 control-label">{{'SIN_CARRERAS_SOLICITUDES' | translate}}.</label>
          </div>

          <div class="col-sm-10" ng-if="d_solicitarAsignaturas.carreras.length>0 && d_solicitarAsignaturas.dobleSolicitud">
            <select ng-model="carreraSeleccionada2" name="carrera2" class="form-control" ng-change="d_solicitarAsignaturas.cargarMaterias(carreraSeleccionada2, 2)" ng-disabled="selectsDeshabilitados">
              <option ng-repeat="p in d_solicitarAsignaturas.carreras" ng-value="p">{{p.Nombre}} </option> 
            </select><br>
          </div>

          <!-- Botón Confirmar -->
          <div class="col-sm-12 text-right">
            <button type="button" ng-click="confirmarSeleccion()" class="btn btn-success">Confirmar</button>
          </div>
        </div>
    </div>
</div>
