<div class="panel panel-default">

  <div class="panel-heading">
    {{'REVISAR_ANTEPROYECTO.TITULO' | translate}}
  </div>

  <div class="panel-body">

    <loading tam="4" load="revisarAnteproyecto.cargandoAnteproyectos" message="revisarAnteproyecto.mensajeCargandoAnteproyectos"></loading>
    <div class="panel panel-default panel-body col-md-12" style="margin-top: 20px;" ng-if="revisarAnteproyecto.cuadriculaAnteproyectos.data.length > 0 && !revisarAnteproyecto.cargandoAnteproyectos">
      <div class="mi-grid" id="mi-grid" ui-grid="revisarAnteproyecto.cuadriculaAnteproyectos"></div>
    </div>
    <!--
    <div class="panel-body alert alert-danger" ng-if="formalizarSolicitud.errorCargandoSolicitudesParaFormalizar">
      <span ng-bind="formalizarSolicitud.mensajeErrorCargandoSolicitudesParaFormalizar"></span>
    </div>

    <div class="panel panel-default" ng-if="formalizarSolicitud.periodoDeFormalizacionNoCorrespondiente">
      <div class="panel-heading">
        {{'FORMALIZAR_SOLICITUD.FECHAS_PARA_FORMALIZACION' | translate}}
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="periodoDeFormalizacion in formalizarSolicitud.coleccionFechasFormalizacion">
          <label class="col-sm-12">{{periodoDeFormalizacion.descripcionFechaDeFormalizacion}}</label>
          <label class="col-sm-2">{{'FECHA_INICIO' | translate}}:</label>
          <label class="col-sm-4">{{periodoDeFormalizacion.fechaInicioDeFormalizacion}}</label>
          <label class="col-sm-2">{{'FECHA_FIN' | translate}}:</label>
          <label class="col-sm-4">{{periodoDeFormalizacion.fechaFinDeFormalizacion}}</label>
        </div>
      </div>

    </div>
  -->
  </div>

</div>
