<div class="panel panel-default">
    <div class="panel-heading">
        {{'PASANTIA.SOLICITAR_CARTA' | translate}}
    </div>
    <div class="panel-body">
        <loading tam="4" load="loadEstudiante" message="cargandoEstudiante"> </loading>
        <loading tam="4" load="loadFormulario" message="cargandoFormulario"> </loading>
        <div class="col-sm-12">
          <div class="panel-body alert alert-danger" ng-show="solicitarCarta.siPuede">
              {{'ESTUDIANTE_NO_REQUISITOS' | translate}}
          </div>
          <div class="panel-body alert alert-danger" ng-show="solicitarCarta.conEstudiante">
            {{'ESTUDIANTE_NO_ENCONTRADO' | translate}}
          </div>
          <div class="panel-body alert alert-danger" ng-show="solicitarCarta.conSolicitud">
            {{'ERROR.HAY_SOLICITUD_PENDIENTE' | translate}}
          </div>
          <div class="panel-body alert alert-danger" ng-show="solicitarCarta.conTrabajo">
            {{'ESTUDIANTE_TRABAJO_GRADO' | translate}}
          </div>
       </div>
        <form method="post" name="formularioCarta" ng-submit="solicitarCarta.enviarSolicitud()" ng-if="!loadFormulario && !loadEstudiante && !solicitarCarta.siPuede && !solicitarCarta.conEstudiante && !solicitarCarta.conSolicitud && !solicitarCarta.conTrabajo">
            <div  class="row">
              <label class="col-sm-3 control-label"> {{'PASANTIA.INGRESE_NOMBRE_EMPRESA' | translate}} </label>
              <div class="col-sm-9 ">
                  <input type="text" class="form-control" ng-model="solicitarCarta.nombreEmpresa" required></input>
              </div>
            </div>
            <br>
            <div  class="row">
              <label class="col-sm-3 control-label"> {{'PASANTIA.INGRESE_NOMBRE_DIRIGIDO' | translate}} </label>
              <div class="col-sm-9 ">
                  <input type="text" class="form-control" ng-model="solicitarCarta.nombreReceptor" required></input>
              </div>
            </div>
            <br>
            <div  class="row">
              <label class="col-sm-3 control-label"> {{'PASANTIA.INGRESE_CARGO_DIRIGIDO' | translate}} </label>
              <div class="col-sm-9 ">
                  <input type="text" class="form-control" ng-model="solicitarCarta.cargoReceptor" required></input>
              </div>
            </div>
            <br>
            <div class="row row-centered">
              <div class="col-sm-2 col-centered">
                <input type="submit" class="btn btn-success" value="{{'ENVIAR_SOLICITUD'|translate}}"></input>
              </div>
            </div>
        </form>
    </div>
</div>
