<div class="panel panel-default">
    <div class="panel-heading">
        {{'AGREGAR_ESTUDIANTES' | translate}}
    </div>
    <div class="panel-body">
        <loading tam="3" load="d_asignarEstudiante.loading" message="d_asignarEstudiante.cargando"> </loading>
        <div ng-if="!d_asignarEstudiante.loading">
            <label class="col-sm-5 control-label">{{'INGRESE_CODIGO' | translate}}</label>
            <form class="col-sm-7 control-label" role="form" name="formEstudiantes" id="formEstudiantes">
                <div class="input-group">
                    <input type="nummber" class="form-control" ng-model="d_asignarEstudiante.codigoEstudiante" name="asignado" ng-minlength="11"
                        ng-maxlength="11" placeholder="Código..." required />
                    <span class="input-group-btn">
                        <input type="submit" ng-click="d_asignarEstudiante.agregarEstudiante()" value="Agregar" class="btn btn-primary btn-md " ng-disabled="formEstudiantes.$invalid"
                        />
                    </span>
                </div>
            </form>
            <br>
            <br>
            <br>

            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.estudianteRegistrado">
                {{'ESTUDIANTE_EN_LISTA' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.estudianteExiste">
                {{'ESTUDIANTE_NO_VALIDO' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.estudianteNoEncontrado">
                {{'FALTAN_DATOS_ESTUDIANTE' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.estudianteValido">
                <p class="col-sm-12 control-label" translate="ESTUDIANTE_NO_REQUISITOS"></p>
            </div>   
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.estudianteConTrabajo">
                {{'ESTUDIANTE_TRABAJO_GRADO' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.cantidadExcedida">
                {{'CANTIDAD_EXCEDIDA' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.estudianteConSolicitud">
                {{'ERROR.HAY_SOLICITUD_PENDIENTE' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.error">
                {{'ERROR.CARGAR_DATOS_ESTUDIANTE' | translate}}
            </div>
            <div class="panel-body alert alert-danger" ng-show="d_asignarEstudiante.ErrorNivel">
                {{'ERROR.DIFERENCIA_NIVEL' | translate}}
            </div>
            <div class="row">
                <md-chips class="custom-chips col-md-12" ng-model="d_asignarEstudiante.nuevosEstudiantes" readonly="true" md-removable="d_asignarEstudiante.removable">
                    <md-chip-template ng-click="d_asignarEstudiante.removable=!d_asignarEstudiante.removable">
                        <span>
                            {{$chip}}
                        </span>
                    </md-chip-template>
                    <input md-chip-remove type="button" value="X" class="btn btn-primary btn-xs" />
                </md-chips>
            </div>
        </div>
    </div>
</div>