<div class="panel panel-default">
    <div class="panel-heading">
        <center>
            <h3 class="panel-title">{{'LISTAR_SOLICITUDES' | translate}}</h3>
        </center>
        </div>
        <div class="panel-body">
        <loading tam="4" load="d_listarSolicitudes.loadingSolicitudes" message="d_listarSolicitudes.mensajeCargando"></loading> 
        <div class="panel-body alert alert-danger" ng-if="!d_listarSolicitudes.loadingSolicitudes && d_listarSolicitudes.errorCargando">
            <span ng-bind="d_listarSolicitudes.mensajeError"></span>
        </div>
        <div ng-if="!d_listarSolicitudes.loadingSolicitudes && !d_listarSolicitudes.errorCargando">
            <div class="panel">
                <div ui-grid="d_listarSolicitudes.gridOptions"  ui-grid-cellNav  ui-grid-pagination class="mi-grid" id="mi-grid" ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>

<div id="modalSolicitud" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
              {{d_listarSolicitudes.solicitudSeleccionada.ModalidadTipoSolicitud.TipoSolicitud.Nombre}}
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'INFORMACION_SOLICITUD' | translate}}
            </div>
              <div class="panel-body">
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'NUMERO_RADICADO'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.Id}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'FECHA'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.data.Fecha}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'PERIODO_ACADEMICO'|translate}}:</label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.data.Respuesta.SolicitudTrabajoGrado.PeriodoAcademico}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'MODALIDAD' | translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.data.Modalidad}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'TIPO_SOLICITUD' | translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.data.ModalidadTipoSolicitud}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'SOLICITANTES'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.solicitantes}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'ESTADO_SOLICITUD'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.data.Estado}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'JUSTIFICACION_RESPUESTA'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.data.Respuesta.Justificacion}}  </label>
                  </div>
                  <div class="row">
                    <label class="col-sm-4 control-label"> {{'RESULTADO_SOLICITUD'|translate}}:  </label>
                    <label class="col-sm-8 control-label"> {{d_listarSolicitudes.solicitudSeleccionada.resultado}}  </label>
                  </div>
                  <div class="row" ng-if="d_listarSolicitudes.solicitudSeleccionada.documento!==undefined">
                    <label class="col-sm-4 control-label"> {{'DOCUMENTO_RESPUESTA_SOLICITUD'|translate}}:  </label>
                    <label class="col-sm-8 control-label">{{d_listarSolicitudes.solicitudSeleccionada.documento.Titulo}}  </label>
                    <!--
                    Debido a que se respondió al requerimiento de no subir actas de respuesta a las solicitudes, se deshabilita el enlace de visualización y se deja indicado únicamente el nombre del acta, cuyo contenido expresa el consecutivo y fecha

                    <label ng-click="listarSolicitudes.getDocumento(listarSolicitudes.detallesSolicitud.documento.Enlace)" class="col-sm-8 " style="color:blue; text-decoration: underline;"> {{listarSolicitudes.detallesSolicitud.documento.Titulo}}  </label>
                    -->
                  </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="d_listarSolicitudes.solicitudSeleccionada.detallesSolicitud.length>0">
            <div class="panel-heading">
                {{'DETALLES_SOLICITUD' | translate}}
            </div>
              <div class="panel-body">
                <loading tam="4" load="d_listarSolicitudes.loadingDocument"></loading> 
                <div ng-if="!d_listarSolicitudes.loadingDocument">
                    <div  class="row" ng-repeat="detalle in d_listarSolicitudes.solicitudSeleccionada.detallesSolicitud">

                        <label class="col-sm-4 control-label"> {{detalle.DetalleTipoSolicitud.Detalle.Nombre}}:  </label>
      
      
                        <div ng-if="detalle.carrera!==undefined" >
                              <label class="col-sm-8 control-label"> {{'CARRERA' | translate}}: {{detalle.carrera.Nombre}}  </label>
                              <div class="panel col-md-12">
                                    <div ui-grid="detalle.gridOptions" class="mi-grid" id="mi-grid" style="height: {{(detalle.gridOptions.data.length*35)+40}}px" ui-grid-cellNav ui-grid-auto-resize></div>
                              </div>
                        </div>
      
      
                        <div ng-if="detalle.carrera===undefined">
                          <div ng-if="detalle.DetalleTipoSolicitud.Detalle.TipoDetalle.Nombre!=='Documento' && detalle.DetalleTipoSolicitud.Detalle.TipoDetalle.Nombre!=='linkNuxeo'">
                              <label class="col-sm-8 "> {{detalle.Descripcion}} </label>
                          </div>
                          <div ng-if="detalle.DetalleTipoSolicitud.Detalle.TipoDetalle.Nombre==='Documento' || detalle.DetalleTipoSolicitud.Detalle.TipoDetalle.Nombre==='linkNuxeo'">
                              <label ng-click="d_listarSolicitudes.getDocumento(detalle.Descripcion)" class="col-sm-8 " style="color:blue; text-decoration: underline;"> {{ 'VER_DOCUMENTO' | translate}} </label>
                          </div>
                        </div>
      
                    </div>
                </div>
              </div>

              </div>
        </div>
    </div>
</div>