<div class="panel  panel-default" ng-if="loadParametros">
  <div class="panel-body">
    <loading tam="4" load="loadParametros" message="cargandoParametros"> </loading>
  </div>
</div>
<div class="panel panel-default"  ng-if="!crearSolicitud.errorCarga && !loadParametros">
  <div class="panel-heading">
    {{'NUEVA_SOLICITUD' | translate}}
  </div>
  <div class="panel-body">
    <div class="row" ng-if="!crearSolicitud.siModalidad">
      <label class="col-sm-2 control-label"> {{'SELECCIONAR_MODALIDAD' | translate}}</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="modalidad_seleccionada" ng-change="crearSolicitud.cargarDetalles(2,modalidad_seleccionada)">
          <option ng-repeat="modalidad in crearSolicitud.modalidades" ng-value="modalidad.Id" > {{modalidad.Nombre}} </option>
        </select>
      </div>
    </div>
    <div class="row" ng-if="crearSolicitud.modalidad_select">
      <label class="col-sm-2 control-label"> {{'SELECCIONAR_SOLICITUD' | translate}} </label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="solicitud_seleccionada" ng-change="crearSolicitud.cargarDetalles(solicitud_seleccionada)">
          <option ng-repeat="solicitud in crearSolicitud.solicitudes" ng-value="solicitud" ng-if="solicitud.TipoSolicitud.Id != 2 && solicitud.TipoSolicitud.Id!=11 "> {{solicitud.TipoSolicitud.Nombre}} </option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="crearSolicitud.Docente_trabajos">
  <label class="col-sm-2 control-label"> Seleccion la materia a la cual realizar la solicitud </label>
  <div class="col-sm-10">
    <select class="form-control" ng-model="solicitud" ng-change="crearSolicitud.getdatasolicitudDocente(solicitud)">
      <option ng-repeat="solicitud in crearSolicitud.Docente_solicitudes" ng-value="solicitud"> {{solicitud.TrabajoGrado.Titulo}} </option>
    </select>
  </div>
</div>
<loading tam="4" load="loadFormulario" message="enviandoFormulario"> </loading>
<loading tam="4" load="loadDetalles"  message="cargandoDetalles"> </loading>


<div class="panel-body alert alert-danger" ng-if="crearSolicitud.errorParametros">
  <p class="col-sm-12 control-label" translate="{{crearSolicitud.mensajeError}}"></p>
</div>
<div class="panel panel-default" ng-if="!crearSolicitud.errorParametros && crearSolicitud.detallesCargados && !loadDetalles && !loadFormulario && !crearSolicitud.Nota && !crearSolicitud.Cancelacion">
    <div class="panel-heading">
        {{'FORMULARIO_SOLICITUD' | translate}}
    </div>
    <div class="panel-body">

       <form method="post" name="formularioEstudiantes" ng-submit="crearSolicitud.validarFormularioSolicitud()">

      <div ng-if="!crearSolicitud.soliciudConDetalles" class="row">
       <label class="col-sm-12 control-label" style="text-align:center" > {{'SOLICITUD_SIN_FORMULARIO' | translate}} </label>
       <br>
     </div>
       <!-- detalles de la solicitud -->
       <div ng-if="crearSolicitud.soliciudConDetalles">
         <div ng-repeat="detalle in crearSolicitud.detalles">
           <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Label'" class="row" >
              <label class="col-sm-3 control-label"> {{ detalle.label}}</label>
              <div class="col-sm-9 ">
                <label class="control-label"> {{detalle.opciones[0].NOMBRE}}</label>
            </div>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Texto'" class="row">
            <label class="col-sm-3 control-label"> {{detalle.label}}</label>
            <div class="col-sm-9 ">
                <input type="text" class="form-control" ng-model="detalle.respuesta" required></input>
            </div>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Numerico'" class="row">
           <label class="col-sm-3 control-label"> {{detalle.label}}</label>
             <div class="col-sm-9 ">
                <input type="number" class="form-control" ng-model="detalle.respuestaNumerica" required></input>
            </div>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Documento'" class="row">
            <div class="panel-body">
              <div class="alert-warning">
                <b>{{'AVISO_PDF' | translate}}</b>
              </div>
            </div>
            <label class="col-sm-3 control-label">{{detalle.label}}</label>
              <div class="col-sm-9 ">
                <input type="file" angular-bfi="{'showUpload':false, allowedFileExtensions:['pdf'], language:'es', maxFileSize: detalle.Detalle.Descripcion.split(';')[1]}" file-model="detalle.fileModel" required> </input>
              </div>
            <br>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Checkbox' && detalle.Detalle.Enunciado!='AUTORIZACION_DERECHOS_AUTOR'" class="panel panel-default">
            <div class="panel-body">
              <!--<input type="checkbox" class="col-sm-4" ng-model="detalle.bool" value="{{detalle.Detalle.TipoDetalle.Nombre}}"></input>-->
              <div class="row">
                <label class="col-sm-12 control-label" translate="{{detalle.label}}"></label>
              </div>
              <br>
              <div class="row row-centered">
                <label class="col-sm-4 control-label">{{'CONFIRMAR' | translate}}</label>
                <switch class="col-sm-8 control-label" ng-model="detalle.bool" on="{{'SWITCH.SI'|translate}}" off="{{'SWITCH.NO'|translate}}"></switch>
              </div>
            </div>
          </div>

          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Checkbox' && detalle.Detalle.Enunciado=='AUTORIZACION_DERECHOS_AUTOR' && crearSolicitud.estudiantesTg.length>0" class="panel-body alert alert-warning">
             <label class="col-sm-12 control-label" translate="AUTORIZACION_DERECHOS_AUTOR"  translate-values='{ nombre: "{{crearSolicitud.estudiante.Nombre}}", codigo: {{crearSolicitud.estudiante.Codigo}}, tg: "{{crearSolicitud.trabajo_grado_completo.Titulo}}" }'>  </label>
             <input type="checkbox" class="col-sm-1 row" ng-model="detalle.bool" value="{{detalle.Detalle.TipoDetalle.Nombre}}" required><b>AUTORIZAR</b></input>
          </div>

          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Lista' && detalle.Detalle.Enunciado=='CLASIFICACION_REVISTA'" class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <label class="col-sm-12 control-label" translate="MENSAJE_REVISTA"></label>
              </div>
            </div>
          </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Lista'" class = "row">
           <label class="col-sm-3 control-label"> {{detalle.label}}</label>
           <div class="col-sm-9">
               <select class="form-control" ng-model="detalle.respuesta" required>
                    <option ng-if="detalle.opciones.length == 0" value="" selected disabled hidden>{{'NO_OPCIONES_DISPONIBLES' | translate}}</option> 
                    <option  ng-repeat="opcion in detalle.opciones" value="{{opcion.bd}}"> {{opcion.NOMBRE}} </option>
               </select>
           </div>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Radio'" class = "row">
            <input type="radio" class="col-sm-3" ng-model="detalle.bool" value="{{detalle.Detalle.TipoDetalle.Nombre}}"></input>
            <label class="col-sm-9 control-label"> {{detalle.label}}</label>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='TextArea'" class = "row">
            <label class="col-sm-3 control-label">{{detalle.label}}</label>
            <!--<textarea class="col-sm-11" style="resize: none; left: 50px; " rows="8" cols="100" ng-model="detalle.respuesta" required></textarea>
            -->
            <div class="col-sm-9 ">
                <textarea class="form-control" style="resize: none; " rows="8" cols="100" ng-model="detalle.respuesta" required></textarea>
            </div>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Directiva'">
            <solicitar-asignaturas e="crearSolicitud.carrerasElegidas" estudiante="crearSolicitud.estudiante" modalidad="crearSolicitud.modalidad" ng-if="detalle.Detalle.Descripcion=='solicitar-asignaturas'"></solicitar-asignaturas>
            <asignar-estudiantes estudiante="crearSolicitud.codigo" estudiantes="crearSolicitud.estudiantes" modalidad="crearSolicitud.modalidad" ng-if="detalle.Detalle.Descripcion=='asignar-estudiantes' && crearSolicitud.modalidad!=2 && crearSolicitud.modalidad!=3"></asignar-estudiantes><div class="panel panel-default" ng-if="detalle.Detalle.Descripcion=='asignar-area'">
                <div class="panel-heading">
                    {{'AREAS_CONOCIMIENTO' | translate}}
                </div>
                <div class="panel-body">
                  <label class="col-sm-5 control-label">{{'SELECCIONE_AREAS_CONOCIMIENTO' | translate}}</label>
                  <asignar-area class="col-sm-7 control-label" setareas="crearSolicitud.areas" newarea="crearSolicitud.estudiante.areas_elegidas"></asignar-area>
                </div>
            </div>
         </div>
         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='linkNuxeo'" class="row">
             <label class="col-sm-3 control-label"> {{detalle.label}}</label>
             <label ng-click="crearSolicitud.getDocumento(detalle.respuesta)"  class="col-sm-9 " style="color:blue; text-decoration: underline;"> {{ 'VER_DOCUMENTO' | translate}} </label>
         </div>
         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Selector'" class = "row">
           <label class="col-sm-3 control-label"> {{detalle.label}}</label>
           <div class="col-sm-9">
            <!-- <ui-select refresh-delay="0" ng-model="detalle.respuesta" theme="select2" style="width:100%;">-->
             <ui-select refresh-delay="400" on-select="aprobarSolicitud.reloadScroll()" ng-model="detalle.respuesta" theme="bootstrap" reset-search-input="false" style="width:95%;">
                    <ui-select-match  placeholder="{{'SELECT.SELECCIONE' | translate}}">{{$select.selected.NOMBRE}} </ui-select-match>
                    <ui-select-choices infinite-scroll-container="'#demoScroll'" id="demoScroll" infinite-scroll="addMoreItems()"  infinite-scroll-distance="10" repeat="opcion.bd as opcion in detalle.opciones | filter: $select.search | limitTo:infiniteScroll.currentItems">
                        <span ng-bind-html="opcion.NOMBRE | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
           </div>
         </div>
         <br>

        </div>
       </div>
       <div class ="row">
         <label class="col-sm-5 control-label"> </label>
         <input type="submit" value="{{'ENVIAR_SOLICITUD' | translate}}"  class="col-sm-2 btn btn-success" type="submit"></input>
         <label class="col-sm-5 control-label"> </label>
       </div>
     </form>
    </div>
</div>
<div class="panel panel-default" ng-if="(crearSolicitud.errorCarga && !loadParametros)">
    <div class="panel-heading">
        {{'ERROR' | translate}}
    </div>
    <div class="panel-body">
      <div class="alert alert-danger">
        {{crearSolicitud.mensajeErrorCarga}}
      </div>
    </div>
</div>

<div class="panel panel-default" ng-if="crearSolicitud.Nota">
  <div class="panel-heading">
      {{'ERROR' | translate}}
  </div>
  <div class="panel-body">
    <div class="alert alert-danger">
      {{crearSolicitud.mensajeCalificado}}
    </div>
  </div>
</div>

<div class="panel panel-default" ng-if="crearSolicitud.Cancelacion">
  <div class="panel-heading">
      {{'ERROR' | translate}}
  </div>
  <div class="panel-body">
    <div class="alert alert-danger">
      {{crearSolicitud.mensajeCancelacion}}
    </div>
  </div>
</div>