<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Crear nueva solicitud
    </div>
    <div class="panel-body">
        <div class="row" ng-if="!crearSolicitud.siModalidad">
        <label class="col-sm-2 control-label"> Seleccione la modalidad</label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="modalidad_seleccionada" ng-change="crearSolicitud.cargarInicial(2,modalidad_seleccionada)">
                  <option  ng-repeat="modalidad in crearSolicitud.modalidades" ng-value="modalidad.Id"> {{modalidad.Nombre}} </option>
            </select>
        </div>
      </div>
      <br>
        <div class="row" ng-if="crearSolicitud.modalidad_select">
          <label class="col-sm-2 control-label"> Seleccione tipo de solicitud</label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="solicitud_seleccionada" ng-change="crearSolicitud.cargarDetalles(solicitud_seleccionada,crearSolicitud.modalidad)">
                    <option  ng-repeat="solicitud in crearSolicitud.solicitudes" ng-value="solicitud.Id" ng-if="solicitud.TipoSolicitud.Id != 2"> {{solicitud.TipoSolicitud.Nombre}} </option>
              </select>
          </div>
    </div>
    </div>
</div>
<div class="panel panel-default" ng-show="crearSolicitud.detallesCargados">
    <div class="panel-heading">
        Formulario de solicitud
    </div>
    <div class="panel-body">
       <label class="col-sm-12 control-label" style="text-align:center" ng-if="!crearSolicitud.soliciudConDetalles"> Esta solicitud no requiere diligenciar ningún formulario. ¿Está seguro de querer enviarla?</label>
       <br></br>
       <label class="col-sm-5 control-label"> </label>
       <input ng-click="" value="Enviar Solicitud"  class="col-sm-2 btn btn-success" type="submit">
    </div>

</div>
