<br>
<div class="panel panel-default" ng-if="crearSolicitud.conEstudiante">
    <div class="panel-heading">
        {{'NUEVA_SOLICITUD' | translate}}
    </div>
    <div class="panel-body">
        <div class="row" ng-if="!crearSolicitud.siModalidad">
        <label class="col-sm-2 control-label"> {{'SELECCIONAR_MODALIDAD' | translate}}</label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="modalidad_seleccionada" ng-change="crearSolicitud.cargarDetalles(2,modalidad_seleccionada)">
                  <option  ng-repeat="modalidad in crearSolicitud.modalidades" ng-value="modalidad.Id"> {{modalidad.Nombre}} </option>
            </select>
        </div>
      </div>
      <br>

        <div class="row" ng-if="crearSolicitud.modalidad_select">
          <label class="col-sm-2 control-label"> {{'SELECCIONAR_SOLICITUD' | translate}} </label>
          <div class="col-sm-10">
              <select class="form-control" ng-model="solicitud_seleccionada" ng-change="crearSolicitud.cargarDetalles(solicitud_seleccionada)">
                    <option  ng-repeat="solicitud in crearSolicitud.solicitudes" ng-value="solicitud.Id" ng-if="solicitud.TipoSolicitud.Id != 2"> {{solicitud.TipoSolicitud.Nombre}} </option>
              </select>
          </div>
    </div>
    </div>
</div>
<div class="panel-body alert alert-danger" ng-show="crearSolicitud.siPuede">
    {{'ESTUDIANTE_NO_REQUISITOS' | translate}}
</div>
<div class="panel panel-default" ng-show="crearSolicitud.detallesCargados">
    <div class="panel-heading">
        {{'FORMULARIO_SOLICITUD' | translate}}
    </div>
    <div class="panel-body">
       <form method="post" name="formularioEstudiantes" ng-submit="crearSolicitud.validarFormularioSolicitud()">
       <label class="col-sm-12 control-label" style="text-align:center" ng-if="!crearSolicitud.soliciudConDetalles"> {{'SOLICITUD_SIN_FORMULARIO' | translate}} <br> </br> </label>

       <!-- detalles de la solicitud -->
       <div ng-if="crearSolicitud.soliciudConDetalles">
         <div ng-repeat="detalle in crearSolicitud.detalles">
           <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Label'" class="row" >
              <label class="col-sm-3 control-label"> {{ detalle.label}}</label>
              <label class="col-sm-9 control-label"> {{detalle.opciones[0].Nombre}}</label>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Texto'" class="row">
            <label class="col-sm-3 control-label"> {{detalle.label}}</label>
            <input type="text" class="col-sm-8" ng-model="detalle.respuesta" required></input>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Numerico'" class="row">
           <label class="col-sm-3 control-label"> {{detalle.label}}</label>
           <input type="number" class="col-sm-8" ng-model="detalle.respuesta" required></input>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Documento'" class="row">
           <label class="col-sm-8 control-label"> {{detalle.label}}</label>
           <input type="file" class="col-sm-4" file-model="detalle.fileModel" required></input>
           <br>
          </div>
          <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Checkbox'" class="row">
           <input type="checkbox" class="col-sm-3" ng-model="detalle.bool" value="{{detalle.Detalle.TipoDetalle.Nombre}}"></input>
           <label class="col-sm-8 control-label"> {{detalle.label}}</label>
          </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Lista'" class = "row">
           <label class="col-sm-4 control-label"> {{detalle.label}}</label>
           <div class="col-sm-8">
               <select class="form-control" ng-model="detalle.respuesta" required>
                     <option  ng-repeat="opcion in detalle.opciones" ng-value="opcion.NOMBRE"> {{opcion.NOMBRE}} </option>
               </select>
           </div>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Radio'" class = "row">
            <input type="radio" class="col-sm-3" ng-model="detalle.bool" value="{{detalle.Detalle.TipoDetalle.Nombre}}"></input>
            <label class="col-sm-9 control-label"> {{detalle.label}}</label>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='TextArea'" class = "row">
            <label class="col-sm-12 control-label">{{detalle.label}}</label>
            <textarea class="col-sm-11" style="resize: none; left: 50px; " rows="8" cols="100" ng-model="detalle.respuesta" required></textarea>
            <br>
            <br>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Directiva'">
            <solicitar-asignaturas estudiante="crearSolicitud.estudiante" modalidad="crearSolicitud.modalidad" ng-if="detalle.Detalle.Descripcion=='solicitar-asignaturas'"></solicitar-asignaturas>
            <asignar-estudiantes estudiantes="crearSolicitud.estudiantes" modalidad="crearSolicitud.modalidad" ng-if="detalle.Detalle.Descripcion=='asignar-estudiantes' && crearSolicitud.modalidad!=2 && crearSolicitud.modalidad!=3"></asignar-estudiantes>
            <div class="panel panel-default" ng-if="detalle.Detalle.Descripcion=='asignar-area'">
                <div class="panel-heading">
                    {{'AREAS_CONOCIMIENTO' | translate}}
                </div>
                <div class="panel-body">
                  <label class="col-sm-5 control-label">{{'SELECCIONE_AREAS_CONOCIMIENTO' | translate}}</label>
                  <asignar-area class="col-sm-7 control-label" setareas="crearSolicitud.areas" newarea="crearSolicitud.estudiante.areas_elegidas"></asignar-area>
                </div>
            </div>
         </div>

         <div ng-if="detalle.Detalle.TipoDetalle.Nombre=='Selector'" class = "row">
           <label class="col-sm-3 control-label"> {{detalle.label}}</label>
           <div class="col-sm-9">
             <input type="text" class="form-control" list="lista+{{detalle.Detalle.Nombre}}" ng-model="detalle.respuesta" placeholder="Seleccione ..." required autocomplete="off"></input>
             <!-- lista de elementos del input-->
             <datalist class="selector" id="lista+{{detalle.Detalle.Nombre}}" >
               <option ng-repeat="opcion in detalle.opciones" value="{{opcion.NOMBRE}}"></option>
             </datalist>
           </div>
         </div>
         <br>

        </div>
       </div>

       <label class="col-sm-5 control-label"> </label>
       <input type="submit" value="{{'ENVIAR_SOLICITUD' | translate}}"  class="col-sm-2 btn btn-success" type="submit"></input>

     </form>
    </div>

</div>
<div class="panel panel-default" ng-if="!crearSolicitud.conEstudiante">
    <div class="panel-heading">
        {{'ERROR' | translate}}
    </div>
    <div class="panel-body alert alert-danger">
        {{'ESTUDIANTE_NO_ENCONTRADO' | translate}}
    </div>
</div>
