


<div class="panel panel-default">
    <div class="panel-heading">
        {{'LISTAR_SOLICITUDES' | translate}}
    </div>
    <div class="panel-body">
            <div class="panel-body alert alert-danger" ng-if="!load && listarSolicitudes.errorCargarParametros">
                {{listarSolicitudes.mensajeError}}
            </div>
          <loading tam="4" load="load" message="msgCargandoSolicitudes"> </loading>

          <div ng-if="load!==true && !listarSolicitudes.errorCargarParametros">
          <div class="row" ng-if="listarSolicitudes.userRole.includes('PREGRADO') && listarSolicitudes.carrerasCoordinador.length>1">
          <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
            <div class="col-sm-10">
                <select class="form-control"  ng-model="carrera_seleccionada" ng-change="listarSolicitudes.filtrarSolicitudes(carrera_seleccionada);">
                      <option  ng-repeat="carrera in listarSolicitudes.carrerasCoordinador" ng-value="carrera.codigo_proyecto_curricular"> {{carrera.codigo_proyecto_curricular}} - {{carrera.nombre_proyecto_curricular}} </option>
                </select>
            </div>
          </div>

        <div class="row" ng-if="listarSolicitudes.userRole.includes('CONTRATISTA') && listarSolicitudes.carrerasCoordinador.length>1">
            <label class="col-sm-2 control-label"> {{'SELECCIONAR_CARRERA' | translate}} </label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="carrera_seleccionada" ng-change="listarSolicitudes.filtrarSolicitudes(carrera_seleccionada);">
                    <option ng-repeat="carrera in listarSolicitudes.carrerasCoordinador" ng-value="carrera.codigo_proyecto_curricular"> 
                        {{carrera.proyecto}} - {{carrera.nombre}}
                    </option>
                </select>
            </div>
        </div>

            <br>
            <div ng-if="!listarSolicitudes.conSolicitudes && listarSolicitudes.userRole.includes('ESTUDIANTE')" class="alert alert-danger" >
                <strong>{{'ERROR' | translate}}</strong> {{'ESTUDIANTE_SIN_SOLICITUD' | translate}}
                <br></br>
                <p>
                  {{'DIRIGIJASE_SOLICITUD' | translate}} <strong> {{'NUEVA_SOLICITUD' | translate}}</strong>.
                </p>
            </div>
            <div ng-if="!listarSolicitudes.conSolicitudes && (listarSolicitudes.userRole.includes('PREGRADO') || listarSolicitudes.userRole.includes('CONTRATISTA'))" class="alert alert-danger" >
               {{'COORDINADOR_SIN_SOLICITUD' | translate}}
            </div>
            <div ng-if="listarSolicitudes.conSolicitudes && (listarSolicitudes.userRole.includes('PREGRADO') || listarSolicitudes.userRole.includes('CONTRATISTA')) && listarSolicitudes.gridOptions.data.length==0" class="alert alert-danger" >
                    {{'COORDINADOR_SIN_SOLICITUD_EN_CARRERA' | translate}}
            </div>
            <div ng-if="listarSolicitudes.conSolicitudes && listarSolicitudes.gridOptions.data.length > 0" class="panel panel-default panel-body col-md-12">
              <div ui-grid="listarSolicitudes.gridOptions"  ui-grid-cellNav  ui-grid-pagination class="mi-grid" id="mi-grid" ui-grid-auto-resize></div>
            </div>
          </div>
    </div>

</div>

<div id="modalVerSolicitud" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
              {{listarSolicitudes.detallesSolicitud.tipoSolicitud}}
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'INFORMACION_SOLICITUD' | translate}}
            </div>
              <div class="panel-body">
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'NUMERO_RADICADO'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.id}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'FECHA'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.fechaSolicitud}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'PERIODO_ACADEMICO'|translate}}:</label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.PeriodoAcademico}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'MODALIDAD' | translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.modalidad}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'TIPO_SOLICITUD' | translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.tipoSolicitud}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'SOLICITANTES'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.solicitantes}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'ESTADO_SOLICITUD'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.estado}}  </label>
                  </div>
                  <div class="row">
                      <label class="col-sm-4 control-label"> {{'JUSTIFICACION_RESPUESTA'|translate}}:  </label>
                      <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.respuesta}}  </label>
                  </div>
                  <div class="row">
                    <label class="col-sm-4 control-label"> {{'RESULTADO_SOLICITUD'|translate}}:  </label>
                    <label class="col-sm-8 control-label"> {{listarSolicitudes.detallesSolicitud.resultado}}  </label>
                  </div>
                  <div class="row" ng-if="listarSolicitudes.detallesSolicitud.documento!==undefined">
                    <label class="col-sm-4 control-label"> {{'DOCUMENTO_RESPUESTA_SOLICITUD'|translate}}:  </label>
                    <label class="col-sm-8 control-label">{{listarSolicitudes.detallesSolicitud.documento.Titulo}}  </label>
                    <!--
                    Debido a que se respondió al requerimiento de no subir actas de respuesta a las solicitudes, se deshabilita el enlace de visualización y se deja indicado únicamente el nombre del acta, cuyo contenido expresa el consecutivo y fecha

                    <label ng-click="listarSolicitudes.getDocumento(listarSolicitudes.detallesSolicitud.documento.Enlace)" class="col-sm-8 " style="color:blue; text-decoration: underline;"> {{listarSolicitudes.detallesSolicitud.documento.Titulo}}  </label>
                    -->
                  </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="listarSolicitudes.detallesSolicitud.length>0">
            <div class="panel-heading">
                {{'DETALLES_SOLICITUD' | translate}}
            </div>
              <div class="panel-body">

                 <div  class="row" ng-repeat="detalle in listarSolicitudes.detallesSolicitud">

                  <label class="col-sm-4 control-label"> {{detalle.DetalleTipoSolicitud.Detalle.Nombre}}:  </label>


                  <div ng-if="detalle.carrera!==undefined" >
                        <label class="col-sm-8 control-label"> {{'CARRERA' | translate}}: {{detalle.carrera.Nombre}}  </label>
                        <div class="panel col-md-12">
                              <div ui-grid="detalle.gridOptions" class="mi-grid" id="mi-grid"  ui-grid-cellNav ui-grid-auto-resize></div>
                        </div>
                  </div>


                  <div ng-if="detalle.carrera===undefined">
                    <div ng-if="detalle.DetalleTipoSolicitud.Detalle.TipoDetalleAux.CodigoAbreviacion!=='DOC_PLX' && detalle.DetalleTipoSolicitud.Detalle.TipoDetalleAux.CodigoAbreviacion!=='LNUX_PLX' && detalle.DetalleTipoSolicitud.Detalle.TipoDetalleAux.CodigoAbreviacion!=='DAN_PLX'">
                        <!-- <label class="col-sm-8 "> {{detalle.Descripcion}} </label> -->
                        <div ng-if="detalle.DetalleTipoSolicitud.Detalle.CodigoAbreviacion === 'LR'">
                            <a class="col-sm-8" ng-href="{{detalle.Descripcion}}" target="_blank">{{detalle.Descripcion}}</a>
                        </div>

                        <div ng-if="detalle.DetalleTipoSolicitud.Detalle.CodigoAbreviacion !== 'LR'">
                            <label class="col-sm-8">{{detalle.Descripcion}}</label>
                        </div>
                    </div>
                    <div ng-if="detalle.DetalleTipoSolicitud.Detalle.TipoDetalleAux.CodigoAbreviacion==='DOC_PLX' || detalle.DetalleTipoSolicitud.Detalle.TipoDetalleAux.CodigoAbreviacion==='LNUX_PLX'">
                        <label ng-click="listarSolicitudes.getDocumento(detalle.Descripcion)" class="col-sm-8 " style="color:blue; text-decoration: underline;"> {{ 'VER_DOCUMENTO' | translate}} </label>
                    </div>
                    
                    <div ng-if="detalle.DetalleTipoSolicitud.Detalle.TipoDetalleAux.CodigoAbreviacion==='DAN_PLX'">
                        <label ng-click="listarSolicitudes.getDocAnyFormat(detalle.Descripcion)" class="col-sm-8 " style="color:blue; text-decoration: underline;"> {{ 'DESCARGAR_DOCUMENTOS' | translate}} </label>
                    </div>
                  </div>

                </div>
              </div>

              </div>
        </div>
    </div>
</div>
