<div class="panel panel-primary panel-body">
    <center>
        <h3 class="page-header">{{'ASIGNAR_FORMATO_A_PC' | translate}}</h3>
    </center>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'ASOCIAR_FORMATO_A_PC' | translate}}
            </div>
            <div class="panel-body">
                <label>{{'SELECCIONAR_FORMATO' | translate}}</label>
                <input class="form-control" list="testList" type="" ng-model="formatoFacultad.SelectedFormat" ng-change="formatoFacultad.actualizar_formato()" />
                <datalist id="testList">
              <option ng-repeat="formato in formatoFacultad.formatos" value="{{formato.Id}}" >{{formato.Nombre}}</option>
                </datalist>
                <br>
                <label>{{'SELECCIONAR_PC' | translate}}</label>
                <input class="form-control" list="testList2" type="" ng-model="formatoFacultad.selectedCareer" />
                <datalist id="testList2">
                <option ng-repeat="carrera in formatoFacultad.carreras" value="{{carrera.CODIGO}}" >{{carrera.NOMBRE}}</option>
            </datalist>
                <br>
                <label>{{'SELECCIONAR_PC' | translate}}</label>
                <br>
                <div flex="50" class="left-cinco" ng-repeat="item in formatoFacultad.modalidades">
                    <md-checkbox class="blue" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{ item.Nombre }}
                    </md-checkbox>
                </div>
                <div class="left-cinco">
                    <label>{{'FECHA' | translate}}</label>
                    <md-datepicker ng-model="formatoFacultad.fecha_inicio" md-placeholder="Ingrese Fecha"></md-datepicker>
                </div>
                <div class="row" align="center">
                    <br>
                    <button type="button" class="btn btn-outline btn-success" ng-click="formatoFacultad.guardar_datos()">Asignar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <vista-previa-formato formato="formatoFacultad.SelectedFormat"></vista-previa-formato>
    </div>
</div>