<div class="panel panel-primary panel-body">
    <center>
        <h3 class="page-header">{{'FORMATOS_EVALUACION' | translate}}</h3>
    </center>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'BUSCAR_FORMATOS' | translate}}
            </div>
            <div class="panel-body">
                <div class="col-md-5">
                    <label>
            Seleccione el Formato
          </label>
                </div>
                <div class="col-md-7">
                    <input class="form-control" list="testList" type="" ng-model="SelectedFormat" />
                    <datalist id="testList">
                <option ng-repeat="formato in formatoVer.formatos" value="{{formato.Id}}" >{{formato.Nombre}}</option>
            </datalist>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <vista-previa-formato formato="SelectedFormat" />
    </div>
</div>