<div class="col-lg-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'NUEVA_EVALUACION' | translate}}
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>{{'NOMBRE_FORMATO' | translate}}</label>
                <input type="text" class="form-control" ng-model="nombre_formato" name="nombre_evaluacion" id="nombre_evaluacion" required="" placeholder="* Nombre de la Evaluación" autocomplete="off">
                <label>{{'INTRODUCCION_FORMATO' | translate}}</label>
                <textarea type="text" class="form-control" ng-model="introduccion_formato" name="introducción_evaluacion" id="introducción_evaluacion" required="" placeholder="* Introducción de la evaluación" autocomplete="off"></textarea>
                <label>{{'ANADIR_PREGUNTA' | translate}}</label>
                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" list="testList" type="" ng-model="pSeleccion" />
                        <datalist id="testList">
                <option ng-repeat="pregunta in preguntas" value="{{pregunta.Enunciado}}" ></option>
            </datalist>
                        <br>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-outline btn-primary btn-sm btn-block" ng-click="anadir_pregunta()">{{'PREGUNTA_BOTON' | translate}} </button>
                    </div>
                </div>
                <label>{{'ANADIR_OPCION' | translate}}</label>
                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" list="testList2" type="" ng-model="rSeleccion" />
                        <datalist id="testList2">
                <option ng-repeat="respuesta in respuestas" value="{{respuesta.Descripcion}}" ></option>
            </datalist>
                        <br>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-outline btn-primary btn-sm btn-block" ng-click="anadir_opcion()">{{'OPCION_BOTON' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="col-lg-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'CREACION_EVALUACION' | translate}}
        </div>
        <div class="panel-body">
            <div ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-cellNav ui-grid-tree-view class="myGrid">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <button type="button" class="btn btn-outline btn-primary btn-sm btn-block" ng-click="borrar()">{{'BORRAR' | translate}}</button>
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-outline btn-primary btn-sm btn-block" ng-click="guardar()">{{'GUARDAR' | translate}}</button>
                </div </div>
            </div>
        </div>
    </div>