<div>
    <div class="row">
        <div class="col-md-3">
            <label for="input_titulo" class="col-form-label">{{'NOMBRE_DEL_DOCUMENTO' | translate}}</label>
        </div>
        <div class="col-md-9">
            <input class="form-control ng-pristine ng-valid ng-empty " maxlength="70" name="input_titulo" ng-model="d_subirDocumento.titulo" placeholder="Ingrese el nombre del documento" aria-invalid="false" type="text">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <label for="input_resumen" class="col-form-label">{{'RESUMEN' | translate}}</label>
        </div>
        <div class="col-md-9">
            <textarea class="form-control ng-pristine ng-valid ng-empty " maxlength="70" name="input_descripcion" ng-model="d_subirDocumento.resumen" placeholder="Realice una descripcion acerca del documento" aria-invalid="false"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <label for="input_resumen" class="col-form-label">{{'SELECCIONE_EL_DOCUMENTO' | translate}}</label>
        </div>
        <div class="col-md-9">
            <!-- <input type='file' class="form-control" file-model='d_subirDocumento.fileModel'> -->
            <input type="file" class="form-control" fileinput="{'showUpload':false, 'allowedFileExtensions':['pdf'], 'language':'es'}" file-model='d_subirDocumento.fileModel' onchange="angular.element(this).scope().verificarArchivo(this)" required> </input>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 pull-right">
            <input type="button" class="btn btn-md btn-outline btn-primary btn-block" ng-click="d_subirDocumento.construir_propuesta()" value=" Subir al repositorio" />
        </div>
        <br><br>
        <div class="col-md-4 pull-right">
            <input type="button" class="btn btn-md btn-outline btn-danger btn-block" ng-click="d_subirDocumento.limpiar()" value="Limpiar" />
        </div>
    </div>
</div>
