    <div class="row content">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Seccion donde se muestra informacion suministrada por el web service de condor-->
                <div class="row col-md-12 col-sm-12 col-xs-12" id="consumoInfo" >
                  <md-input-container class="col-md-12 col-sm-12">
                    <label> Estudiante</label>
                  <md-select ng-model="consultarProp.estudianteSeleccionado" class="form-control"
                  ng-change="consultarProp.mostrarPropuestasEstudiante(consultarProp.estudianteSeleccionado)">
                  <md-option ng-repeat="p in consultarProp.estudiantes" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}} </md-option>
                 </md-select>
                 </md-input-container>
                 <md-input-container class="col-md-12 col-sm-12">
                   <label> Propuesta</label>
                 <md-select ng-model="consultarProp.propuestaSeleccionada" class="form-control"
                 ng-change="consultarProp.mostrarPropuestas(consultarProp.propuestaSeleccionada)">
                 <md-option ng-repeat="p in consultarProp.propuestas" value="{{p.Id}}">{{p.IdTrabajoGrado.Titulo}} </md-option>
                </md-select>
                </md-input-container>
                </div>
          </div>
        </div>
      </div>
    </div>
