<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'REGISTRAR_PROPUESTA' | translate}}
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="col-sm-12 col-xs-12">
                    <div class="row">
                        <!-- Seccion donde se muestra informacion suministrada por el web service de condor-->
                        <div class="row" id="formPropuesta">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="select_modalidad" class="col-form-label">{{'MODALIDAD' | translate}}</label>
                                </div>
                                <div class="col-md-8">
                                    <select ng-model="d_regProp.modSeleccionada" id="modalidadSelect" class="form-control" placeholder="Seleccione una modalidad " ng-change="d_regProp.asignarModalidad(d_regProp.modSeleccionada)">
                    <option ng-repeat="mod in d_regProp.modalidad track by mod.Id" value="{{mod.Id}}">{{mod.Nombre}} </option>                    
                    </select>
                                </div>
                            </div>
                            <br>
                            <div ng-if="d_regProp.validar =='true'" class=" row col-md-12">
                                <subir-documento titulo="d_regProp.documento.titulo" descripcion="d_regProp.documento.resumen" enlace="d_regProp.documento.enlace"></subir-documento>
                            </div>
                            <br>
                            <div class="row col-md-12" ng-if="d_regProp.registroDocumento">
                                <md-card md-colors="{background: 'White', 'border-color': 'primary-600'}">
                                    {{d_regProp.registroDocumento}}
                                </md-card>
                            </div>
                        </div>

                        <!-- Formulario de asignación de areas de conocimiento y resumen-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'ASIGNAR_AREA' | translate}}
        </div>
        <div class="panel-body">
            <!-- Formulario de registro zona de carga de archivos -->
            <div ng-if="d_regProp.validar =='true'" class="row">
                <div class="col-md-4">
                    <label for="select_areas" class="col-form-label">{{'DE_ACUERDO_A_SU_PROPUESTA' | translate}}
                </label>
                </div>
                <div class="col-md-7">
                    <asignar-area setareas="areasparam" idarea="idareaparam" newarea="d_regProp.nuevaArea" />
                </div>
            </div>
            <br>
            <div class="row centro-cinco">
                <div ng-if="d_regProp.validar!='true'" class="alert alert-danger">
                    <strong>{{'RESPUESTA' | translate}}:</strong> {{'DENEGADO' | translate}}
                    <br></br>
                    <p>
                        <ul>
                            <li>{{'ESTADO' | translate}} ACTIVO</li>
                            <li>{{'PORCENTAJE_CURSADO' | translate}} >= 80%</li>
                            <li>{{'PORCENTAJE_CURSADO' | translate}} >= 3.8</li>
                            <li>{{'NIVEL_ESTUDIOS' | translate}} PREGRADO</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div ng-if="d_regProp.validar =='true'" class="row">
                <div class="col-md-4">
                    <input type="button" class="btn btn-md btn-outline btn-success btn-block" ng-click="d_regProp.load_row(row,\'ver\')" data-toggle="modal" data-target="#myModalInvitar" value="Invitar Estudiante" />
                </div>
                <div class="col-md-8">
                    <label for="estudianteInvitado"></label>
                </div>
            </div>
            <br>
            <div ng-if="d_regProp.validar =='true'" class="col-md-4 pull-right">
                <input type="button" class="btn btn-md btn-outline btn-primary btn-block" ng-click="d_regProp.guardar(d_regProp.documento, d_regProp.estudianteSeleccionado, d_regProp.modSeleccionada)" value="Registrar propuesta" />
            </div>
            <!-- Fin de formulario de zona de carga de archivos-->

        </div>
    </div>

</div>
<div id="myModalInvitar" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'INVITAR_ESTUDIANTE' | translate }}
            </div>
            <form class="form-horizontal" name="avances_add_edit" ng-submit="d_regProp.add_edit()">
                <br>
                <div class="row">
                    <label for="referencia" class="col-sm-2 control-label">{{'ESTUDIANTE' | translate }}:</label>
                    <div class="col-sm-10">
                        <input class="form-control" list="estudianteList" type="" ng-model="SelectedStudent" />
                        <datalist id="estudianteList">
                        <option ng-repeat="est in d_regProp.estudiantes" value="{{est.EST_COD}}">{{est.EST_NOMBRE}} </option>
                    </datalist>
                    </div>
                </div>
                <center>
                    <input type="reset" class="btn btn-info btn-outline" value="{{'BTN.LIMPIAR' | translate }}" />
                    <input type="submit" ng-click="d_regProp.addStudent(SelectedStudent)" class="btn btn-success btn-outline" value="{{'BTN.GUARDAR' | translate }}" />
                </center>
            </form>
            <br>
        </div>
    </div>
</div>