<div class="container-fluid">
    <div class="row content">
      <div class="col-sm-9 col-xs-12">
        <div class="row">
          <div class="col-md-12 ">
            <!-- Seccion donde se muestra informacion suministrada por el web service de condor-->
            <div class="row " id="consumoInfo">
              <md-input-container class="col-md-4">
                <label>{{'ESTUDIANTE' | translate}}</label>
                <md-select ng-model="d_regProp.estudianteSeleccionado" class="form-control" placeholder="Autores" ng-change="d_regProp.asignarEstudiante(d_regProp.estudianteSeleccionado)">
                  <md-option ng-repeat="p in estparam" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}} </md-option>
                </md-select>
              </md-input-container>
              <br/>
            </div>
              <div class="row">
                <md-input-container class="col-md-8">
                  <label> {{'ESTUDIANTE_ACTUAL' | translate}} </label>
                  <md-select name="typeStudent" ng-model="d_regTG.estuSeleccionado" placeholder="Sesión del estudiante" required>
                    <md-option ng-repeat="p in estparam" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="row"> 
              <md-input-container class="col-md-4">
                <label>{{'MODALIDAD' | translate}}</label>
                <md-select name="typemod" ng-model="d_regTG.modSeleccionada" placeholder="Seleccione una modalidad " required>
                  <md-option ng-repeat="p in d_regTG.modalidad" value="{{p.Id}}">{{p.Nombre}}</md-option>
                </md-select>
              </md-input-container>
              </div>            
            <!-- Formulario de registro zona de carga de archivos -->

            <div class="row " id="d_regPropInfo">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <span class="label label-default">{{'NOMBRE_PROPUESTA' | translate}}</span><br/>
                  <input type="text" ng-model="d_regProp.documento.titulo" class="form-control" ng-disabled="true">
                </div>
              </div>
              <br>
              <div>
              </div>
            </div>

            <!-- Fin de formulario de zona de carga de archivos-->
            <!-- Formulario de asignación de areas de conocimiento y resumen-->
            <div class="row " id="resumen">
              <div class="col-md-6">
                <span class="label label-default">{{'RESUMEN' | translate}}</span><br/>
                <textarea class="form-control" ng-model="d_regProp.documento.resumen" placeholder="Describa su propuesta . . ." required></textarea>
              </div>
              <div class="col-md-6">
                <label>{{'DE_ACUERDO_A_SU_PROPUEST' | translate}}
                </label><br/>
                <asignar-area setareas="areasparam" idarea="idareaparam" newarea="d_regProp.nuevaArea" />
              </div>
            </div>
            <!-- Formulario de docentes asociados a un area de conocimiento -->
            <div class="row col-md-12" id="docenteareainfo">
              <md-card md-colors="{background: 'BlueGrey-50', 'border-color': 'primary-600'}">
                <form class="col-md-12 " name="myForm">
                  <br/>
                  <label>{{'SELECCIONE_LAS_OPCIONES' | translate}}
                      </label><br/>
                  <md-input-container>
                    <label ng-hide="d_regProp.filtro"> {{'FILTRANDO_POR' | translate}}</label>
                    <md-select ng-model="d_regProp.areaSeleccionada" name="areaname" class="form-control " ng-disabled="d_regProp.filtro" placeholder="Seleccione un área asociada a la propuesta"
                      ng-change="d_regProp.mostrarDocentesArea(d_regProp.areaSeleccionada)">
                      <md-option ng-repeat="p in areasparam" value="{{p.Id}}">{{p.Nombre}} </md-option>
                    </md-select>
                  </md-input-container>
                  <md-checkbox aria-label="Filtrar docente por área" ng-model="d_regProp.filtro" class="md-primary">
                    {{d_regProp.filtro ? "Listando todos los docentes " : "Vinculando docente por área "}}
                    <label>(cambiar)</label>
                  </md-checkbox>
                  <br/>
                  <span class="label label-default">{{'VINCULAR_DOCENTE' | translate}}</span><br/>
                  <select ng-model="d_regProp.docenteSeleccionado" name="docente" class="form-control" required ng-change="d_regProp.asignarDocente(d_regProp.docenteSeleccionado)">
                      <option value="" disabled selected style="display: none;">Docentes relacionados con el área</option>
                      <option ng-repeat="p in d_regProp.establecerFiltroDocentes()" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}}</option>
                      </select>
                  <br/>
                </form>
              </md-card>
            </div>
            <div class="row col-md-12 " id="botonesRegistro">
              <div class="col-md-4">
                <br/>
                <input type="button" class="btn btn-md btn-danger" ng-click="d_regProp.limpiar()" value="Cancelar" />
                <input type="button" class="btn btn-md btn-info" ng-click="d_regProp.guardar(d_regProp.documento,d_regProp.docenteSeleccionado,d_regProp.estudianteSeleccionado)"
                  value="Aceptar" />
              </div>
              <div class="col-md-8" ng-show="d_regProp.estado">
                <subir-documento newdial="d_regProp.guardarRegistro()" dialparent="newfuncion()" enlaceurl="d_regProp.documento.enlace"></subir-documento>
              </div>
            </div>
            <div class="row col-md-12" ng-if="d_regProp.registroDocumento">
              <md-card md-colors="{background: 'White', 'border-color': 'primary-600'}">
                {{d_regProp.registroDocumento}}
              </md-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <pre> documentotemporal= {{d_regProp.documento |json}}</pre>
        <pre> docregistrado= {{d_regProp.docregistrado |json}}</pre>
        <pre> Areas_TrabajoGrado= {{d_regProp.areas_TG |json}}</pre>
        <pre> Vinculación docente= {{d_regProp.vinculaciondocente |json}}</pre>
        <pre> estudiante_TG= {{d_regProp.estudiante_TG |json}}</pre>
        <pre> documentoTG= {{d_regProp.docTG |json}}</pre>
      </div>
    </div>
  </div>
