<br>
<div class="panel panel-default">
    <div class="panel-heading">
        {{'LISTAR_SOLICITUDES' | translate}}
    </div>
    <div class="panel-body">
      <label for="anio" class="col-sm-2 control-label"> {{'ANO' | translate}}</label>
      <label for="anioSel" class="col-sm-10 control-label">{{profundizacion_listarSolicitudes.periodo.anio}}</label>

      <label for="periodo" class="col-sm-2 control-label">{{'PERIODO' | translate}}</label>
      <label for="anioSel" class="col-sm-10 control-label">{{profundizacion_listarSolicitudes.periodo.periodo}}</label>

      <label for="carrera" class="col-sm-2 control-label">{{'CARRERA' | translate}}</label>
      <div class="col-sm-10">
        <form name="myForm">
          <ui-select name="carrera" ng-model="profundizacion_listarSolicitudes.carreraSeleccionada" required on-select="profundizacion_listarSolicitudes.buscarSolicitudes(profundizacion_listarSolicitudes.carreraSeleccionada)" style="width:95%;" theme="bootstrap" >
              <ui-select-match placeholder="{{'SELECT.SELECCIONE' | translate}}">{{$select.selected.codigo}} - {{$select.selected.nombre}}
              </ui-select-match>
              <ui-select-choices repeat="item.codigo as item in profundizacion_listarSolicitudes.carreras| filter: $select.search">
                  <span ng-bind="item.codigo"></span> - <span ng-bind="item.nombre"></span>
              </ui-select-choices>
          </ui-select>
          <span ng-show="myForm.carrera.$invalid" style="color: red">{{'SELECCIONAR_CARRERA' | translate}} </span>
        </form>
       </div>

    <div class="panel panel-default panel-body col-md-12">
       <div class="mi-grid" id="mi-grid" ui-grid="profundizacion_listarSolicitudes.gridOptions"></div>
    </div>
    </div>
</div>
