<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Listado de solicitudes
    </div>
    <div class="panel-body">
      <!--<pre>{{listarsolicitudes.sols | json}}</pre>-->
      <label for="anio" class="col-sm-2 control-label">Año:</label>
      <label for="anioSel" class="col-sm-10 control-label">{{profundizacion_listarSolicitudes.periodo.APE_ANO}}</label>

      <label for="periodo" class="col-sm-2 control-label">Periodo:</label>
      <label for="anioSel" class="col-sm-10 control-label">{{profundizacion_listarSolicitudes.periodo.APE_PER}}</label>

      <label for="carrera" class="col-sm-2 control-label">Carrera:</label>
      <div class="col-sm-10">
        <form name="myForm">
          <select ng-model="carreraSeleccionada" name="carrera"  class="form-control" required
          ng-change="profundizacion_listarSolicitudes.buscarSolicitudes(carreraSeleccionada)">
          <option ng-repeat="p in profundizacion_listarSolicitudes.carreras" ng-value="p.CODIGO">{{p.NOMBRE}} </option>
          </select>
          <span ng-show="myForm.carrera.$invalid" style="color: red">*Seleccione la carrera</span>
        </form>
       </div>

       <br></br>
       <br></br>
       <br></br>
       <div ui-grid="profundizacion_listarSolicitudes.gridOptions"></div>
    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
