<br>
<div class="panel panel-default">
    <div class="panel-heading">
        {{'LISTAR_SOLICITUDES' | translate}}
    </div>
    <div class="panel-body">
      <p>{{'CODIGO' | translate}}  {{profundizacion_solicitarAsignaturas.estudiante.Codigo}}<br>
         {{'NOMBRE' | translate}}  {{profundizacion_solicitarAsignaturas.estudiante.Nombre}}<br>
         {{'MODALIDAD_ESP_POS' | translate}}</p>

      <consultar-solicitudes estudiante="profundizacion_solicitarAsignaturas.estudiante" s="0"/>
    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
