<section class="col-md-12">
  <div class="container-fluid">
    <div class="row content">
      <br>
      <div class="col-sm-9 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-info">
              <div class="panel panel-heading">
                <h2>
                  Registrar Propuesta
                </h2>
              </div>
              <div class="panel panel-body">
                <!-- Seccion donde se muestra informacion suministrada por el web service de condor-->
                <div class="row col-md-12 col-sm-12 col-xs-12" id="consumoInfo" >
                  <div class="col-md-8 col-sm-8">
                    <label> Modalidad seleccionada: <span class="text-muted">{{regProp.propuesta.modalidad}}</span>
                    </label><br/>
                    <label>Autores:
                      <span class="text-muted" >
                         {{regProp.estudiante.nombre}}
                      Codigo: {{regProp.estudiante.codigo}}
                      </span>
                    </label>
                  </div>
                  <div class="col-md-3 col-sm-3 ">
                    <span type="button" class="btn btn-md btn-info">Invitar estudiante</span>
                  </div>
                </div>


                <!-- Formulario de registro zona de carga de archivos -->
                <div class="row col-md-12 col-sm-12 col-xs-12" id="regPropInfo">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <span class="label label-default">Nombre de la propuesta</span><br/>
                      <input type="text" ng-model="regProp.documento.titulo" class="form-control" placeholder="Titulo" required ><br/><br/>

                    </div>
                  </div>
                    <div class="col-md-6 col-sm-6">
                    <div class="form-group ">
                      <span class="label label-default">Archivo</span>
                      <div class="btn btn-md btn-info form-control" ngf-select ng-model="regProp.documento.enlacependiente" ngf-multiple="false" >Subir propuesta</div>
                    </div>
                    <div ngf-drop ngf-select ng-model="regProp.documento.enlacependiente" class="drop-box"
                    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                    accept="image/*,application/pdf"
                    ngf-pattern="'image/*,application/pdf'" >Arrastre el archivo o haga click para subir al servidor</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    Documento:
                    <div class="list-group" >
                      <span class=" progress-bar progress-bar-striped active" ng-repeat="f in regProp.documento.enlacependiente" style="width: {{regProp.porcentaje}}%">{{regProp.porcentaje}}% {{f.name}} {{f.$error}} {{f.$errorParam}}</span>
                    </div>
                    </div>

                    <br>
                    <div>
                    </div>
                </div>

                <!-- Fin de formulario de registro-->
                <div class="row col-md-12" id="resumen">
                  <div class="col-md-12">
                    <span class="label label-default">Resumen</span><br/>
                    <textarea ng-model="regProp.documento.resumen" placeholder="Describa su propuesta . . ." required></textarea>
                  </div>
                </div>
                <!-- Formulario de asignación de areas de conocimiento-->

                <div class="row col-md-12" id="registroareas">
                  <md-card md-colors="{background: 'White', 'border-color': 'primary-600'}">
                  <form class="col-md-12" role="form" name="formAsignar" id="formAsignar">
                    <br/>
                    <label>De acuerdo a su propuesta seleccione las áreas
                    </label><br/>
                    <div class="form-group" >
                      <input type="text" list="listaAreas"
                       ng-model="regProp.nombreArea" name="asignado"
                       ng-minlength="8"
                       ng-maxlength="30"
                       placeholder="Seleccione ..." required autocomplete="off" />
                      <datalist class="selector" id="listaAreas"  >
                        <option ng-repeat="a in regProp.fabricaAreas.areas"  value="{{a.Nombre}}"></option>
                      </datalist>
                      <input type="submit" ng-click="regProp.asignarArea()"
                       value="Agregar" class="btn btn-info btn-md" ng-disabled="formAsignar.$invalid || regProp.verificarAreas(regProp.nombreArea) " />
                       <div ng-show="formAsignar.asignado.$invalid ">
                         <div ng-messages="formAsignar.asignado.$error" style="color:red"
                               class="help-block text-danger" ng-show="formAsignar.asignado.$touched">
                            <div ng-message="required"> Ingrese una nueva área </div>
                            <div ng-message="minlength"> Nombre muy corto </div>
                            <div ng-message="maxlength"> Nombre muy extenso </div>
                         </div>
                       </div>
                    </div>
                    <md-chips  class="col-md-6 col-sm-4" ng-repeat="a in regProp.nuevaArea" >
                      <md-chip >{{a.Nombre}}</md-chip>
                    </md-chips>
                  </form>
                </md-card>
                </div>
                <!-- Formulario de docentes asociados a un area de conocimiento -->
                <div class="row col-md-12" id="docenteareainfo">
                  <md-card md-colors="{background: 'White', 'border-color': 'primary-600'}">
                    <form  class="col-md-12 " name="myForm" >
                      <br/>
                      <label>Seleccione las opciones para vincular el docente
                      </label><br/>
                        <md-input-container >
                          <label ng-hide="regProp.filtro"> Filtrando por:</label>
                        <md-select ng-model="regProp.areaSeleccionada" name="areaname" class="form-control "
                        ng-disabled="regProp.filtro" placeholder="Seleccione un área asociada a la propuesta"
                        ng-change="regProp.mostrarDocentesArea(regProp.areaSeleccionada)">
                        <md-option ng-repeat="p in regProp.fabricaAreas.areas" value="{{p.Id}}">{{p.Nombre}}      </md-option>
                       </md-select>
                       </md-input-container>
                        <md-checkbox  aria-label="Filtrar docente por área" ng-model="regProp.filtro" class="md-primary">
                           {{regProp.filtro ? "Listando todos los docentes " : "Vinculando docente por área "}}
                           <label>(cambiar)</label>
                        </md-checkbox>
                      <br/>
                      <span class="label label-default">Vincular docente</span><br/>
                      <select  ng-model="regProp.docenteSeleccionado" name="docente" class="form-control" required
                        ng-change="regProp.asignarDocente(regProp.docenteSeleccionado)">
                      <option value="" disabled selected style="display: none;">Docentes relacionados con el área</option>
                      <option ng-repeat="p in regProp.establecerFiltroDocentes()" value="{{p.DOC_NRO_IDEN}}">{{p.DOC_NOMBRE}} {{p.DOC_APELLIDO}}</option>
                      </select>
                      <br/>
                  </form>
                </md-card>
                </div>

                <div class="row col-md-12 " id="botonesRegistro">
                  <div class="col-md-12 ">
                    <br/>
                  <input type="button" class="btn btn-md btn-danger" ng-click="regProp.limpiar()" value="Cancelar" />
                  <input type="button" class="btn btn-md btn-info"  ng-click="regProp.guardar(regProp.documento,regProp.docenteSeleccionado)" value="Aceptar" />
                  <input type="button" class="btn btn-md btn-success"  ng-click="regProp.guardarRegistro()" value="Guardar Registro" />
                  </div>
                </div>
                <div class="row col-md-12" ng-if="regProp.registroDocumento">
                <md-card  md-colors="{background: 'White', 'border-color': 'primary-600'}">
                  {{regProp.registroDocumento}}
                </md-card>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <pre> documentotemporal= {{regProp.documento |json}}</pre>
        <pre> docregistrado= {{regProp.docregistrado |json}}</pre>
        <pre> Areas_TrabajoGrado= {{regProp.areas_TG |json}}</pre>
        <pre> Vinculación docente= {{regProp.vinculaciondocente |json}}</pre>
      </div>

    </div>
  </div>
</section>
