<div class="panel panel-primary panel-body">
    <center>
        <h3 class="page-header">
            {{'REVISION_DOCUMENTOS' | translate}}
        </h3>
    </center>

    <div class="row">
        <div class="col-md-2">
            <label>
                 <label>{{'SELECCION_PROYECTO' | translate}}:</label>
            </label>
        </div>
        <div class="col-md-7">

            <ui-select ng-model="estudianteRevisionDoc.trabajo_grado.selected" theme="select2" on-select="estudianteRevisionDoc.ver_seleccion($item, $model)" style="width:100%;">
                <ui-select-match placeholder="{{'SELECCION_PROYECTO' | translate}}...">{{$select.selected.IdTrabajoGrado.Titulo}}</ui-select-match>
                <ui-select-choices repeat="trabajo in estudianteRevisionDoc.vinculacion_docente | filter: $select.search">
                    <span ng-bind-html="trabajo.TrabajoGrado.Titulo | highlight: $select.search"></span>
                    <small ng-bind-html="trabajo.Docente.NOMBRE | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <br>
    <div class="row" ng-show="estudianteRevisionDoc.documento">
        <div ng-class="{'col-md-6': !mindoc, 'col-md-10 col-md-offset-1':mindoc}">
            <label class="text-primary" ng-show="mindoc">{{'DOCUMENTO' | translate}}</label>
            <ver-documento documentoid="estudianteRevisionDoc.doc" loadpag="estudianteRevisionDoc.pagina" selectpag="estudianteRevisionDoc.pagina2" minified="mindoc" />
            <!--  <pre>{{estudianteRevisionDoc.revisionesd | json}}</pre>-->
        </div>

        <div ng-class="{'col-md-6': !mindoc, 'col-md-10 col-md-offset-1':mindoc}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'REVISIONES' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="revision in estudianteRevisionDoc.revisionesd">
                        <ver-revision revisionid="revision.Id" paginaset="estudianteRevisionDoc.pagina2" ng-if="revision.EstadoRevisionTrabajoGrado.Nombre != 'pendiente'"></ver-revision>
                        <div ng-if="revision.EstadoRevisionTrabajoGrado.Nombre == 'borrador' || revision.EstadoRevisionTrabajoGrado.Nombre == 'pendiente'">
                            <p class="text-danger"> {{'LA_REVISION' | translate}} {{revision.NumeroRevision}} {{'LA_REVISION_SE_ENCUENTRA' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-info pull-left">{{'SUBIR_DOCUMENTO' | translate}}</button>
                <button type="button" class="btn btn-success pull-right" ng-click="estudianteRevisionDoc.solicitar_revision()">{{'SOLICITAR_REVISION' | translate}}</button>
            </div>
        </div>
    </div>
</div>
