<div class="panel panel-success" ng-if="d_verRevision.revision.EstadoRevisionTrabajoGrado.Nombre != 'borrador'">
  <div class="panel-heading" ng-click="showrev=!showrev">
    <h3 class="panel-title">{{'REVISION' | translate}}: {{d_verRevision.revision.FechaRevision | date:'dd-MMM-yyyy'}}
      </h3>
  </div>
  <div class="panel-body" ng-show="showrev">

      <p class="text-muted">
        <cite>
          {{'FECHA_REVISION' | translate}}: {{d_verRevision.revision.FechaRevision | date:'dd-MMM-yyyy'}} | {{'FECHA_RECEPCION' | translate}}: {{d_verRevision.revision.FechaRecepcion | date:'dd-MMM-yyyy'}}<cite>
      </p>

    <div ng-repeat="correccion in d_verRevision.correcciones">
      <div class="panel panel-info">
        <div class="panel-heading">
          {{'CORRECCION_REALIZADA' | translate}}: {{correccion.Observacion}}
            <a href="" class="ver pull-right" ng-click="show =!show; correccion.coments=d_verRevision.cargarComentarios(correccion.Id)" ><i class="fa fa-eye fa-lg" aria-hidden="true" data-toggle="tooltip" title="Ver !"></i></a>

        </div>
        <div class="panel-body" ng-show="show">
          {{correccion.Justificacion}}
          <div>
            <div>
              <!--<PRE>{{correccion.coments[0] | json}}</PRRE>-->
              <blockquote ng-repeat="comentario in correccion.coments[0]">
                <p><small>{{comentario.Comentario}}</small></p>
                <h6> {{comentario.Autor}} <cite title="Source Title">{{comentario.Fecha | date:'dd-MMM-yyyy'}}</cite></h6>
              </blockquote>
            </div>
            <!--{{d_verRevision.pruebac}}-->

            <div class="panel-body">
              <form name="comentForm" ng-submit="correccion.coments=d_verRevision.comentarCorreccion(d_verRevision.coment,correccion.Id)">
                <textarea class="form-control col-md-8 offset-2" title="respuesta" placeholder="Escribe un comentario..." ng-click="showf =true" ng-model="d_verRevision.coment"></textarea>

                <div class="btn-group pull-right" ng-show="showf">
                  <button class="btn btn-default" ng-click="showf =!showf; d_verRevision.coment=null" type="button">Cancelar</button>
                  <input class="btn-primary btn" type="submit" value="Publicar"></input>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--<pre>{{d_verRevision.revision EstadoRevision| json}}</pre>-->

    <!--<button type="button" name="button" ng-click="d_verRevision.postrev()">postera</button>-->
  </div>
</div>
