<span ng-show="minified">
  <span ng-click="minified=false"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i> <span class="panel-title">{{d_verDocumento.documento.Titulo}}</span></span>
</span>
<div  ng-show="documento">
    <div class="panel panel-default" ng-show="!minified">
        <div class="panel-heading">
            <center>
                <h3 class="panel-title">{{d_verDocumento.documento.Titulo}} <span class="pull-right" ng-click="minified=true"><i class="fa fa-minus-square-o" aria-hidden="true"></i>
                </span></h3>
            </center>
        </div>
        <div class="panel-body">
            <div>
                <ng-pdf class="scrollit" template-url="views/directives/documento/viewer.html" scale="page-fit"></ng-pdf>
            </div>
        </div>
        <div class="panel-heading">
            <p>
                <span>Tipo:{{d_verDocumento.documento.TipoDocumentoEscrito}}</span> {{pageNum}}
            </p>
            <p>
                <span class="panel-title">{{'RESUMEN' | translate}}</span><br>{{d_verDocumento.documento.Resumen}}
            </p>
        </div>
    </div>
</div>
