<div class="panel panel-default">
    <div class="panel-heading">
        {{'ABOUT' | translate}}
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <label> Polux </label>
            <p translate="ABOUT_INFO">  </p>
          </div>        
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      {{'ACUERDO' | translate}}
  </div>
  <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <p> {{'ACUERDO_INFO' | translate}} </p>
        </div>
        <div class="col-sm-12">
            <iframe src="../../../documentos/acuerdo_2015-038.pdf" style="width: 100%; height: 700px;border: none;"></iframe>
        </div>
      </div>
  </div>
</div>