<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="" class="navbar-brand" ng-click="toggleLeft()">
      <i class="fa fa-university faa-shake animated-hover" aria-hidden="true"></i>
    </a>
    <a ng-href="#/">
      <img src="images/logo_polux2.png" class="logo" alt="">
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse in">
    <ul class="nav navbar-nav navbar-right">
      <li ng-repeat="nivel_1 in ::my_menu">
        <a ng-if="nivel_1.Opciones === null" ng-href="{{'#/' + nivel_1.Url}}">
          {{nivel_1.Nombre}}
        </a>
      </li>
      <li ng-repeat="nivel_1 in ::my_menu" class="dropdown">
        <a ng-if="nivel_1.Opciones !== null" ng-href="{{actual}}" class="dropdown-toggle" data-toggle="dropdown">
            {{nivel_1.Nombre}} <b class="caret">
          </b>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="nivel_2 in nivel_1.Opciones">
            <a ng-href="{{'#/' + nivel_2.Url}}" ng-if="nivel_2.Opciones === null && !nivel_2.Url.includes('https')">
              {{nivel_2.Nombre}}
            </a>
            <a href="{{nivel_2.Url}}" target="_blank" ng-if="nivel_2.Url.includes('https')">{{nivel_2.Nombre}}</a>
          </li>
          <li class="dropdown dropdown-submenu"  aria-haspopup="true" aria-expanded="false" ng-repeat="nivel_2 in nivel_1.Opciones">
            <a ng-href="{{actual}}" class="dropdown-toggle" data-toggle="dropdown" ng-if="nivel_2.Opciones !== null">
              {{nivel_2.Nombre}}
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="nivel_3 in nivel_2.Opciones">
                <a ng-href="{{'#/' + nivel_3.Url}}" ng-if="nivel_3.Opciones === null">
                  {{nivel_3.Nombre}}
                </a>
              </li>
              <li class="dropdown dropdown-submenu"  aria-haspopup="true" aria-expanded="false" ng-repeat="nivel_3 in nivel_2.Opciones">
                <a ng-href="{{actual}}" class="dropdown-toggle" data-toggle="dropdown" ng-if="nivel_3.Opciones !== null">{{nivel_3.Nombre}}
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="nivel_4 in nivel_3.Opciones">
                    <a ng-href="{{'#/' + nivel_4.Url}}">
                      {{nivel_4.Nombre}}
                    </a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- /.dropdown Notifications-->
      <li class="dropdown" >
      
        <a class=" notificacion_vista dropdown-toggle" data-toggle="dropdown" ng-href="{{actual}}" ng-if=" !roles.includes('ESTUDIANTE')"  >
      
          <!-- Numero notificaciones numero 
          recuadro más grande , izquier materias y abajo mitad 
          MArgen del fondo
          separar notificaciones
          bajar intensisdad color
opcion 
            marco azul sin fondo letra negra
            Agrandar o expandir notificaciones


          -->
          <div>
          <div>
          <i class="fa fa-bell fa-fw faa-ring animated" style="color:rgb(223, 115, 115)"  ng-if="!loading && !roles.includes('ESTUDIANTE')"></i>
          <i class="fa fa-bell fa-fw faa-ring animated" ng-if="loading && !roles.includes('ESTUDIANTE')" ></i>
          <i style="color: rgb(255, 255, 255);">{{notificaciones.length}}</i></div>           
          <i class="fa fa-caret-down"></i>
          </div>

        </a>
        <ul ng-if=" !roles.includes('ESTUDIANTE')" style="height: 500px; width: 400px;" class="dropdown-menu dropdown-alerts">
            <div class="notifications-container"  >
              <h4 style="color:#9D9D9D" class="text-center" > <strong>Notificaciones</strong></h4>
              <div>
                <loading tam="4" load="load"> </loading>
                <div ng-if="loading"class="panel-body alert alert-danger">
                  No hay notificaciones
                </div> 
              <select ng-if="!loading" style="height: 400px;" class="form-control" multiple aria-label="multiple select example" class="limit 10">
                <option style="overflow:hidden;padding:4px;margin:3px;  width:100%;border-width: 1px;border: 2px solid rgb(34, 105, 163);color:#000000 marginheight=200px" ng-repeat="notifi in notificaciones" ng-click="redirect_url(notifi.Body.Message)">{{notifi.Body.Subject}}</option>                               
              </select>
            </div> 
            
            </div> 
            <li class="divider"></li>
            <li ng-if="!load">
              <a class="text-center" ng-href="#/notificaciones">
                <strong >Ver todas las notificaciones</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
        </ul>
        <!-- /.dropdown -->
        <li class="dropdown" ng-if="token_service.live_token()">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-href="{{menuCtrl.actual}}">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <a ng-click="">
                <i class="fa fa-sign-in fa-fw"></i> {{token_service.getPayload().email}}</a>
              </a>
            </li>
            <li><a><i class="fa fa-gear fa-fw"></i> Configuración</a>
            </li>
            <li class="divider"></li>
            <li><a ng-click="token_service.logout()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
            </li>
          </ul>
          <!-- /.dropdown-user 
        </li>
        <li ng-hide="token_service.live_token()">
          <oauth2 authorization-url="{{token_service.config.AUTORIZATION_URL}}"
              client-id="{{token_service.config.CLIENTE_ID}}" redirect-url="{{token_service.config.REDIRECT_URL}}"
              response-type="{{token_service.config.RESPONSE_TYPE}}" scope="{{token_service.config.SCOPE}}"
              sign-out-append-token="{{SIGN_OUT_APPEND_TOKEN}}" sign-out-url="{{SIGN_OUT_URL}}"
              sign-out-redirect-url="{{SIGN_OUT_REDIRECT_URL}}"
              button-class="{{token_service.config.BUTTON_CLASS}}" signInText="Inicio Sesión"
              signOutText="Cerrar Sesión">
          </oauth2>
      </li>
        <!-- /.dropdown -->
    </ul>
  </div>
  <!-- /.navbar-header -->
  <!-- /.navbar-top-links -->
  <!-- /.navbar-static-side -->
</nav>
<div id="loading-bar-container"></div>
<ul class="breadcrumb">
  <li ng-repeat="option in breadcrumb" ng-if="option === ''" class="breadcrumb-item">
    <a href="#"><i class="fa fa-home" aria-hidden="true"></i>{{option}}</a>
  </li>
  <li ng-repeat="option in breadcrumb" ng-if="$middle" class="breadcrumb-item">
    <a href="#">{{option}}</a>
  </li>
  <li ng-repeat="option in breadcrumb" ng-if="$last" class="breadcrumb-item active">
    {{option}}
  </li>
  <div class="pull-right" style="margin-top:-6px">
    <a id="es" name="es" class="{{language.es}}" ng-click="changeLanguage('es')"></i> es</a>
    <a id="en" mane="en" class="{{language.en}}" ng-click="changeLanguage('en')"></i> en</a>
  </div>
</ul>
<div layout="column" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left">
      <md-content>
        <a ng-repeat="app in menu_app" title="{{app.title}}" ng-href="{{app.url}}" target="_blank">
            <img class="menu-app" id="{{app.id}}"></img>
        </a>
      </md-content>
    </md-sidenav>
  </section>
</div>
