<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      LISTA DE NOTIFICACIONES
    </div>
    <div class="panel-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              
            </div>        
      </div>
      <br>
      <md-content style="height: 600px;">
        <div> En este apartado se puede observar las notificaciones </div>
        <div id="notificaciones" ng-class="claseContainer.clase">
          <div ng-cloak layout-gt-sm="row" layout="column">
          </div>
          <br>
       
          <div class="notifications-container" style="height: max-content;" >
            <loading tam="4" load="load"> </loading>
            <div class="panel-body alert alert-danger" ng-if="loading">
              <span ng-bind="mensajeError"></span>
            </div> 
            <select ng-if="!loading"style="height: 500px;" id="seleccionnotifi" class="form-control"  multiple name="notificacionesas">
            <option type="checkbox" onMouseover="this.style.background='#a8bdfd';this.style.fontsize='100px'" ng-dblclick="redirect_url(noitif.Body.Message)" onMouseout="this.style.background=''" style="padding: 4px;margin:3px;  width:100%; text-align: center;color:#000000 marginheight=200px" ng-repeat="notifi in notificaciones"  value="{{notifi}}">{{notifi.Body.Subject}}</option>   
          </select>
          <input  ng-if="!loading" type="submit" class="form-control" ng-click="Borrar(seleccionnotifis)" value="Borrar">  
          </div>
        </div>
        </md-list-item </md-content>
    </div>
    
 

  </div>
</div>