<div class="panel panel-default">
    <div class="panel-heading">
        {{'ADMINISTRAR_AREAS' | translate}}
    </div>
    <div class="panel-body">
        <loading tam="4" load="loadAreas" message="msgCargandoAreas"> </loading>
        <div ng-if="!loadAreas">
            <div class="panel-body alert alert-danger" ng-if="administrarAreas.areasError">
                {{'ERROR.NO_AREAS_CARGADAS' | translate}}
            </div>
            <div class="row" ng-if="!administrarAreas.areasError">
                <label class="col-sm-2 control-label"> {{'SELECT.AREA_SNIES' | translate}} </label>
                <div class="col-sm-10">
                    <select class="form-control"  ng-model="area_seleccionada" ng-change="administrarAreas.cargarAreasConocimiento(area_seleccionada);">
                        <option  ng-repeat="area in administrarAreas.areasSnies" ng-value="area">{{area.Nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="row" ng-if="loadAreasConocimiento!==undefined">
                <loading tam="4" load="loadAreasConocimiento" message="msgCargandoAreas"> </loading>
                <div class="col-sm-12" ng-if="!loadAreasConocimiento">
                    <div class="alert alert-danger" ng-if="administrarAreas.areasConocimientoError">
                        {{'ERROR.NO_AREAS_CARGADAS' | translate}}
                    </div>
                    <div ng-if="!administrarAreas.areasConocimientoError">
                        <div ng-if="administrarAreas.areasConocimiento.length>0" class="panel panel-default panel-body col-md-12">
                            <div ui-grid="administrarAreas.gridOptions"  ui-grid-cellNav  ui-grid-pagination class="mi-grid" id="mi-grid" ui-grid-auto-resize></div>
                        </div>
                        <div ng-if="administrarAreas.areasConocimiento.length===0" class="alert alert-danger">
                            {{'SIN_AREAS' | translate}}
                        </div>
                        <input type="submit" value="{{'NUEVA_AREA' | translate}}"  class="col-sm-12 btn btn-success" type="submit" ng-click="administrarAreas.mostrarArea()"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAgregarArea" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
              {{'NUEVA_AREA' | translate}}
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'AREAS.DATOS_AREA'| translate}}
            </div>       
            <div class="panel-body"> 
                <form method="post" name="formularioArea" ng-submit="administrarAreas.cargarArea()">
                    <div class="row">
                        <label class="col-sm-4 control-label"> {{'AREAS.INGRESE_NOMBRE_AREA'|translate}}:  </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="administrarAreas.nombreArea" required></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-4 control-label"> {{'AREAS.INGRESE_DESCRIPCION_AREA'|translate}}:  </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="administrarAreas.descripcionArea" required></input>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" value="{{'AREAS.REGISTRAR_AREA' | translate}}"  class="col-sm-12 btn btn-success" type="submit"></input>
                        </div>
                    </div>
                </form>
            </div>         
        </div>
    </div>
</div>